Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: doc-pipeline, deb-pipeline

.gitlab-ci.yml:

include:
  - template: 'Workflows/Branch-Pipelines.gitlab-ci.yml'
  - local: '/.gitlab-ci/base.yml'

generate-config:
  stage: build
  rules:
    - when: always
  image:
    name: $BUILD
    entrypoint: [""]
  script:
    - .gitlab-ci/build-ci
    - >
      deb-builder
      --yaml .gitlab-ci/base.yml
      --yaml .gitlab-ci/base-deb.yml
      --out generated-config-deb.yml
      --skip src:univention-kernel-image-signed
      --skip src:grub-efi-amd64-signed
      --skip src:shim
      --skip src:python-notifier
      --skip src:univention-kvm-compat
      --skip src:univention-foomatic-ppds
      */*/debian/control
  artifacts:
    paths:
      - generated-config-doc.yml
      - generated-config-deb.yml

prepare aptly:
  stage: build
  rules:
    - when: always
  image: curlimages/curl
  script:
    - "$CI_PROJECT_DIR/.gitlab-ci/aptly-create || :"
    - $CI_PROJECT_DIR/.gitlab-ci/aptly-publish
  environment:
    name: $CI_COMMIT_REF_NAME
    url: $APT/$CI_COMMIT_REF_SLUG/
    on_stop: drop aptly
    auto_stop_in: 6 month

drop aptly:
  stage: build
  variables:
    GIT_STRATEGY: none
  image: curlimages/curl
  script:
    - "curl --silent --show-error -X DELETE $APTLY/publish/$CI_COMMIT_REF_SLUG/git || :"
    - "curl --silent --show-error -X DELETE $APTLY/repos/$CI_COMMIT_REF_SLUG || :"
  rules:
    - when: manual
      allow_failure: true
  environment:
    name: $CI_COMMIT_REF_NAME
    action: stop

doc-pipeline:
  stage: test
  rules:
    - changes:
      - "doc/[^e]*/**/*"
      - "doc/e[^r]*/**/*"
      - "doc/er[^r]*/**/*"
      - "doc/err[^a]*/**/*"
      - "doc/erra[^t]*/**/*"
      - "doc/errat[^a]*/**/*"
      - "doc/errata?*/**/*"
  needs:
    - generate-config
  trigger:
    include:
      - artifact: generated-config-doc.yml
        job: generate-config
    strategy: depend

deb-pipeline:
  stage: test
  rules:
    - changes:
      - "[^dt]*/*/**/*"
      - "d[^o]*/*/**/*"
      - "do[^c]*/*/**/*"
      - "doc?*/*/**/*"
      - "t[^e]*/*/**/*"
      - "te[^s]*/*/**/*"
      - "tes[^t]*/*/**/*"
      - "test?*/*/**/*"
      - "test/generate-appliance/**/*"
      - "test/ucs-test/**/*"
      - "test/ucs-test-tools/**/*"
      - "test/univention-demo-configuration/**/*"
  needs:
    - generate-config
  trigger:
    include:
      - artifact: generated-config-deb.yml
        job: generate-config
    strategy: depend

Bug #53343: YAML updated for univention-base-files
  doc/errata/staging/univention-base-files.yaml
Due: none

Bug #53981: python-babel 2.3.4+dfsg.1-2+deb9u1
  doc/errata/staging/python-babel.yaml
Due: none

Bug #53982: faad2 2.8.0~cvs20161113-1+deb9u3
  doc/errata/staging/faad2.yaml
Due: none

Bug #53985: smarty3_3.1.31+20161214.1.c7d42e4+selfpack1-2+deb9u4
  doc/errata/staging/smarty3.yaml
Due: none

Bug #27547: improve univention.udm documentation
  management/univention-directory-manager-modules/modules/univention/udm/__init__.py
  management/univention-directory-manager-modules/modules/univention/udm/base.py
  management/univention-directory-manager-modules/modules/univention/udm/modules/generic.py
  management/univention-directory-manager-modules/modules/univention/udm/udm.py
Due: deb-pipeline

Bug #51721: missing logrotation for directory-manager-rest.log
  doc/errata/staging/univention-directory-manager-rest.yaml
  management/univention-directory-manager-rest/conffiles/etc/logrotate.d/univention-directory-manager-rest
  management/univention-directory-manager-rest/debian/changelog
  management/univention-directory-manager-rest/debian/univention-directory-manager-rest.univention-config-registry
Due: deb-pipeline

Bug #53425: [grep_traceback]: ignore traceback
  test/ucs-test/tests/99_end/grep_traceback.py
Due: deb-pipeline

Bug #51721: Updated errata
  doc/errata/staging/univention-directory-manager-rest.yaml
  management/univention-directory-manager-rest/debian/changelog
Due: deb-pipeline

Issue #54 ci: Always built ucslint
  .gitlab-ci.yml
  .gitlab-ci/base-deb.yml
  .gitlab-ci/base-doc.yml
  .gitlab-ci/base.yml
Due: none

Bug #53986: missing logrotation for directory-manager-rest.log
  doc/errata/staging/univention-directory-manager-rest.yaml
  management/univention-directory-manager-rest/conffiles/etc/logrotate.d/univention-directory-manager-rest
  management/univention-directory-manager-rest/debian/changelog
  management/univention-directory-manager-rest/debian/univention-directory-manager-rest.univention-config-registry
Due: deb-pipeline

Bug #53906: dont show close button on mobile tabs if module not closable
  management/univention-management-console/www/management/main.js
Due: deb-pipeline

Bug #53906: debian changelog
  management/univention-management-console/debian/changelog
  management/univention-web/debian/changelog
Due: deb-pipeline

Bug #53906: show tabs when more than one module is open with ?overview=false
  management/univention-management-console/www/management/main.js
  management/univention-web/css/site/header.styl
Due: deb-pipeline

Bug #53906: yaml
  doc/errata/staging/univention-management-console.yaml
  doc/errata/staging/univention-web.yaml
Due: none

Bug #53986: Advisory update
  doc/errata/staging/univention-directory-manager-rest.yaml
Due: none

Bug #51721: Advisory update
  doc/errata/staging/univention-directory-manager-rest.yaml
Due: none

Bug #53359: version bump
  services/univention-apache/debian/changelog
Due: deb-pipeline

Bug #53990: php7.3 7.3.31-1~deb10u1
  doc/errata/staging/php7.3.yaml
Due: none

Backup redis
  management/univention-directory-manager-rest/backup_redis.py
Due: deb-pipeline

Bug #53991: php7.0 7.0.33-0+deb9u12
  doc/errata/staging/php7.0.yaml
Due: none

Bug #53344: univention-home-mounter ANNOUNCE
  doc/errata/published/2021-10-28_132_univention-home-mounter.yaml
Due: none

Bug #53990: php7.3 ANNOUNCE
  doc/errata/published/2021-10-28_133_php7.3.yaml
Due: none

Bug #51721: univention-directory-manager-rest ANNOUNCE
  doc/errata/published/2021-10-28_134_univention-directory-manager-rest.yaml
Due: none

Bug #53991: php7.0 ANNOUNCE
  doc/errata/published/2021-10-28_1074_php7.0.yaml
Due: none

Bug #53982: faad2 ANNOUNCE
  doc/errata/published/2021-10-28_1073_faad2.yaml
Due: none

Bug #53981: python-babel ANNOUNCE
  doc/errata/published/2021-10-28_1075_python-babel.yaml
Due: none

Bug #53985: smarty3 ANNOUNCE
  doc/errata/published/2021-10-28_1076_smarty3.yaml
Due: none

Bug #51233: univention-directory-manager-modules ANNOUNCE
  doc/errata/published/2021-10-28_1077_univention-directory-manager-modules.yaml
Due: none

Bug #53180: Remove condition on app appliance
  doc/app-center/app-provider-5.0.xml
Due: doc-pipeline

Bug #53994: fix UCR template and DH parameter generation
  doc/errata/staging/univention-mail-dovecot.yaml
  mail/univention-mail-dovecot/conffiles/etc/dovecot/conf.d/10-ssl.conf
  mail/univention-mail-dovecot/debian/changelog
  mail/univention-mail-dovecot/debian/univention-mail-dovecot.postinst
  mail/univention-mail-dovecot/debian/univention-mail-dovecot.univention-config-registry
  mail/univention-mail-dovecot/debian/univention-mail-dovecot.univention-config-registry-variables
Due: deb-pipeline

Bug #53994: fix missing DH generation
  mail/univention-mail-dovecot/debian/changelog
  mail/univention-mail-dovecot/debian/univention-mail-dovecot.postinst
Due: deb-pipeline

Bug #54003: cups 2.2.1-8+deb9u7A~4.4.8.202111011209
  doc/errata/staging/cups.yaml
Due: none

Bug #54004: libmspack 0.5-1.A~4.4.8.202111011209
  doc/errata/staging/libmspack.yaml
Due: none
