Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: doc-pipeline, deb-pipeline

doc-pipeline:
  stage: test
  needs:
  - generate-config
  trigger:
    include:
    - artifact: generated-config-doc.yml
      job: generate-config
    strategy: depend

deb-pipeline:
  stage: test
  needs:
  - generate-config
  trigger:
    include:
    - artifact: generated-config-deb.yml
      job: generate-config
    strategy: depend

Bug #52878: Add turkish umlauts
  management/univention-directory-manager-modules/modules/univention/admin/__init__.py
Due: deb-pipeline

Bug #50648 UDM: add Python 3 Migration chapter
  doc/developer-reference/udm/udm.xml
Due: doc-pipeline

Bug #52018: UCR: add Python 3 Migration chapter
  doc/developer-reference/ucr/ucr.xml
Due: doc-pipeline

Bug #45888 UDL: add Python 3 Migration chapter
  doc/developer-reference/listener/listener.xml
Due: doc-pipeline

Bug #52877: 01_base/91_pwchange_without_password_synchronization
  test/ucs-test/debian/changelog
  test/ucs-test/tests/01_base/91_pwchange_without_password_synchronization
Due: deb-pipeline

fix[up]: Block update for i386
  base/univention-updater/debian/changelog
  base/univention-updater/script/check.sh
  doc/changelog/changelog-5.0-0.xml
  doc/changelog/release-notes-5.0-0-de.xml
  doc/changelog/release-notes-5.0-0-en.xml
Due: doc-pipeline, deb-pipeline

fixup! Bug #51579: Remove dpkg-statoverride for /var/log/lastlog
  doc/changelog/changelog-5.0-0.xml
Due: doc-pipeline

fixup! Bug #52724: changelog entry
  doc/changelog/changelog-5.0-0.xml
Due: doc-pipeline

fixup! Bug #44462: add entry to changelog.xml
  doc/changelog/changelog-5.0-0.xml
Due: doc-pipeline

Bug #49898: preup check for "server schannel"
  base/univention-updater/debian/changelog
  base/univention-updater/script/check.sh
Due: deb-pipeline

Bug #50631: migrate 73_udm-rest/00_general_tests.py to Python 3
  test/ucs-test/tests/73_udm-rest/00_general_tests.py
Due: deb-pipeline

Bug #52881: sleep for long installation steps
  test/utils/installation_test/installation.py
Due: none

doc[up]: Changelog for pool/ layout
  doc/changelog/changelog-5.0-0.xml
Due: doc-pipeline

Revert "fixup! Bug #52682: Avoid long delays due to repeated ucr sets"
  base/univention-pam/well-known-sid-name-mapping.py
Due: deb-pipeline

Bug #52874: Use local loop variable instead of changing lastUSN
  services/univention-ad-connector/modules/univention/connector/ad/__init__.py
Due: deb-pipeline

Bug #52874: Fix uSNCreated/uSNChanged order of AD changes
  services/univention-ad-connector/modules/univention/connector/ad/__init__.py
Due: deb-pipeline

Bug #52874: Fix sorting of AD changes in case paged search does not work
  services/univention-ad-connector/modules/univention/connector/ad/__init__.py
Due: deb-pipeline

Bug #52881: changes for UCS 5.0-0
  test/scenarios/install-testing/master-all-components.cfg
  test/utils/installation_test/installation.py
Due: none

Bug #52864: wait for language menu
  test/ucs-test/debian/changelog
  test/ucs-test/univention/appcenter/testing/apptest.py
Due: deb-pipeline

Bug #52881: changes for UCS 5.0-0
  test/utils/installation_test/installation.py
Due: none

@WIP@ Improve logging in SimpleHook
  management/univention-directory-manager-modules/modules/univention/admin/hook.py
Due: deb-pipeline

@WIP@ derive from object to prevent unused debug output
  management/univention-directory-manager-modules/modules/univention/admin/hook.py
Due: deb-pipeline

@WIP@ also add self.type here too
  management/univention-directory-manager-modules/modules/univention/admin/hook.py
Due: deb-pipeline

@WIP@ improve inline doc
  management/univention-directory-manager-modules/modules/univention/admin/hook.py
Due: deb-pipeline

@WIP@ use self.hook instead of static class name in debug output
  management/univention-directory-manager-modules/modules/univention/admin/hook.py
Due: deb-pipeline

@WIP@ prevent exception if complex syntax/syntax check is used
  management/univention-directory-manager-modules/modules/univention/admin/hook.py
Due: deb-pipeline

Bug #50648 UDM syntax: mark LDAP_Server syntax deprecated
  management/univention-directory-manager-modules/modules/univention/admin/syntax.py
Due: deb-pipeline

Bug #52869: Changelog
  management/univention-portal/debian/changelog
Due: deb-pipeline

Bug #52673: fix ucsschool Jenkins jobs
  test/scenarios/autotest-208-ucsschool-update-multiserver-s4.cfg
Due: none

Bug #52887: workaround, until fix for Bug #52887 is released
  test/scenarios/autotest-203-ucsschool-multiserver-s4.cfg
Due: none

Bug #52886: changed atd service settings for KillMode while UMC update process is up and running
  base/univention-updater/debian/changelog
  base/univention-updater/script/postup.sh
  base/univention-updater/script/preup.sh
Due: deb-pipeline

Bug #52682: revert changelog entry
  doc/changelog/changelog-5.0-0.xml
Due: doc-pipeline

Bug #52881: remove obsolete uvmm workaround
  test/scenarios/install-testing/master-all-components.cfg
Due: none

Bug #52437: increase joinscript version
  management/univention-appcenter/30univention-appcenter.inst
Due: deb-pipeline

Changelog Bug #52310
  doc/changelog/changelog-5.0-0.xml
Due: doc-pipeline

Bug #52881: changes for UCS 5.0-0
  test/utils/installation_test/installation.py
  test/utils/installation_test/languages/german.py
Due: none

Bug #00000: Test didn't test ldap login with saml
  test/ucs-test/tests/82_saml/07_umc_session_timeout
  test/ucs-test/tests/82_saml/09_saml_umc_ldap
  test/ucs-test/tests/82_saml/samltest.py
Due: deb-pipeline

YAML Bug #52813
  doc/errata/staging/univention-updater.yaml
Due: none

Bug #52747: openldap ANNOUNCE
  doc/errata/published/2021-03-10_908_openldap.yaml
Due: none

Path conditions:
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
