Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: doc-pipeline, deb-pipeline

.gitlab-ci.yml:

include:
  - template: 'Workflows/Branch-Pipelines.gitlab-ci.yml'
  - local: '/.gitlab-ci/base.yml'

generate-config:
  stage: build
  rules:
    - when: always
  image:
    name: $BUILD
    entrypoint: [""]
  script:
    - .gitlab-ci/build-ci
    - >
      deb-builder
      --yaml .gitlab-ci/base.yml
      --yaml .gitlab-ci/base-deb.yml
      --out generated-config-deb.yml
      --skip src:univention-kernel-image-signed
      --skip src:grub-efi-amd64-signed
      --skip src:shim
      --skip src:python-notifier
      --skip src:univention-kvm-compat
      --skip src:univention-foomatic-ppds
      */*/debian/control
  artifacts:
    paths:
      - generated-config-doc.yml
      - generated-config-deb.yml

prepare aptly:
  stage: build
  rules:
    - when: always
  image: curlimages/curl
  script:
    - "$CI_PROJECT_DIR/.gitlab-ci/aptly-create || :"
    - $CI_PROJECT_DIR/.gitlab-ci/aptly-publish
  environment:
    name: $CI_COMMIT_REF_NAME
    url: $APT/$CI_COMMIT_REF_SLUG/
    on_stop: drop aptly
    auto_stop_in: 6 month

drop aptly:
  stage: build
  variables:
    GIT_STRATEGY: none
  image: curlimages/curl
  script:
    - "curl --silent --show-error -X DELETE $APTLY/publish/$CI_COMMIT_REF_SLUG/git || :"
    - "curl --silent --show-error -X DELETE $APTLY/repos/$CI_COMMIT_REF_SLUG || :"
  rules:
    - when: manual
      allow_failure: true
  environment:
    name: $CI_COMMIT_REF_NAME
    action: stop

doc-pipeline:
  stage: test
  rules:
    - changes:
      - "doc/[^e]*/**/*"
      - "doc/e[^r]*/**/*"
      - "doc/er[^r]*/**/*"
      - "doc/err[^a]*/**/*"
      - "doc/erra[^t]*/**/*"
      - "doc/errat[^a]*/**/*"
      - "doc/errata?*/**/*"
  needs:
    - generate-config
  trigger:
    include:
      - artifact: generated-config-doc.yml
        job: generate-config
    strategy: depend

deb-pipeline:
  stage: test
  rules:
    - changes:
      - "[^dt]*/*/**/*"
      - "d[^o]*/*/**/*"
      - "do[^c]*/*/**/*"
      - "doc?*/*/**/*"
      - "t[^e]*/*/**/*"
      - "te[^s]*/*/**/*"
      - "tes[^t]*/*/**/*"
      - "test?*/*/**/*"
      - "test/generate-appliance/**/*"
      - "test/ucs-test/**/*"
      - "test/ucs-test-tools/**/*"
      - "test/univention-demo-configuration/**/*"
  needs:
    - generate-config
  trigger:
    include:
      - artifact: generated-config-deb.yml
        job: generate-config
    strategy: depend

Bug #52453: App Center installation grid buttons
  management/univention-appcenter/umc/js/appcenter.styl
  management/univention-appcenter/umc/js/appcenter/App.js
  management/univention-appcenter/umc/js/appcenter/AppDetailsPage.js
  management/univention-appcenter/umc/js/appcenter/AppInfo.js
Due: deb-pipeline

Bug #52571: firefox-esr 78.6.1esr-1~deb9u1
  doc/errata/staging/firefox-esr.yaml
Due: none

Bug #52453: App Center Settings design
  management/univention-web/css/Dialog.styl
Due: deb-pipeline

Bug #45888: fix dictionary iteration
  management/univention-directory-listener/debian/changelog
  management/univention-directory-listener/python/univention/listener/handler_configuration.py
Due: deb-pipeline

Bug #52453: AppCenter image gallery
  management/univention-appcenter/umc/js/appcenter.styl
  management/univention-appcenter/umc/js/appcenter/AppDetailsPage.js
  management/univention-appcenter/umc/js/appcenter/ImageGallery.js
Due: deb-pipeline

Bug #52453: SearchForm label
  management/univention-management-console-module-udm/umc/js/udm.js
Due: deb-pipeline

Bug #52453: move labels to the top
  management/univention-web/css/site/widgets.styl
  management/univention-web/css/variables.styl
  management/univention-web/css/widgets/LabelPane.styl
  management/univention-web/css/widgets/SearchForm.styl
  management/univention-web/js/render.js
  management/univention-web/js/widgets/LabelPane.js
Due: deb-pipeline

Bug #52453: MultiInput
  management/univention-web/css/site/widgets.styl
  management/univention-web/css/variables.styl
  management/univention-web/css/widgets.styl
  management/univention-web/css/widgets/LabelPane.styl
  management/univention-web/css/widgets/MultiInput.styl
  management/univention-web/css/widgets/SearchForm.styl
  management/univention-web/js/widgets/MultiInput.js
Due: deb-pipeline

Bug #52453: debian changelog
  management/univention-appcenter/debian/changelog
  management/univention-management-console-module-udm/debian/changelog
  management/univention-web/debian/changelog
Due: deb-pipeline

Bug #52453: Translation
  management/univention-appcenter/python/de.po
  management/univention-appcenter/udm/handlers/appcenter/de.po
  management/univention-appcenter/umc/js/de.po
Due: deb-pipeline

Bug #52484: also check apps readme files
  test/ucs-test/debian/changelog
  test/ucs-test/tests/20_appcenter/18_check_app_links
Due: deb-pipeline

Bug #52044: fix 169sync_custom_mapping_nonstandard_attribs
  test/ucs-test/debian/changelog
  test/ucs-test/tests/52_s4connector/s4connector.py
  test/ucs-test/tests/55_adconnector/169sync_custom_mapping_nonstandard_attribs
  test/ucs-test/tests/55_adconnector/adconnector.py
  test/ucs-test/univention/testing/connector_common.py
  test/ucs-test/univention/testing/udm.py
Due: deb-pipeline

Bug #52573: add hint about useful values
  doc/extended-docs/performance-guide-4.4.xml
Due: doc-pipeline

Bug #52573: add section about apache2 scaling
  doc/extended-docs/performance-guide-4.4.xml
Due: doc-pipeline

fixup! Bug #52044: fix 169sync_custom_mapping_nonstandard_attribs
  test/ucs-test/tests/55_adconnector/500test_user_sync.py
  test/ucs-test/tests/55_adconnector/501test_group_sync.py
  test/ucs-test/univention/testing/connector_common.py
Due: deb-pipeline

Bug #51777: fix filter for multivalue attributes
  management/univention-directory-manager-modules/debian/changelog
  management/univention-directory-manager-modules/modules/univention/admin/filter.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/__init__.py
  test/ucs-test/tests/60_umc/61_udm_multivalue_attributes
  test/ucs-test/univention/testing/strings.py
  test/ucs-test/univention/testing/udm.py
Due: deb-pipeline

Bug #52044: adconnector.py: convert to unicode
  test/ucs-test/tests/55_adconnector/adconnector.py
Due: deb-pipeline

Bug #51777: added yaml file
  doc/errata/staging/univention-directory-manager-modules.yaml
Due: none

Bug #52573: added a section for SAML assertion lifetime
  doc/extended-docs/performance-guide-4.4.xml
Due: doc-pipeline

Bug #52573: add hint about useful values
  doc/extended-docs/performance-guide-5.0.xml
Due: doc-pipeline

Bug #52573: add section about apache2 scaling
  doc/extended-docs/performance-guide-5.0.xml
Due: doc-pipeline

Bug #52573: added a section for SAML assertion lifetime
  doc/extended-docs/performance-guide-5.0.xml
Due: doc-pipeline

Bug #52453: Don't show ImageGallery when there are no images
  management/univention-appcenter/umc/js/appcenter/AppDetailsPage.js
  management/univention-appcenter/umc/js/appcenter/ImageGallery.js
Due: deb-pipeline

Bug #52453: debian changelog
  management/univention-appcenter/debian/changelog
Due: deb-pipeline

fixup! Bug #52044: adconnector.py: convert to unicode
  test/ucs-test/tests/55_adconnector/adconnector.py
Due: deb-pipeline

Bug #52453: App Center README design
  management/univention-appcenter/umc/js/appcenter.styl
  management/univention-appcenter/umc/js/appcenter/AppDetailsPage.js
Due: deb-pipeline

Bug #52453: Changelog
  doc/changelog/changelog-5.0-0.xml
Due: doc-pipeline

Bug #52453: debian changelog
  management/univention-management-console-module-udm/debian/changelog
  management/univention-web/debian/changelog
Due: deb-pipeline

Bug #52453: searchform submit button alignment
  management/univention-web/js/render.js
Due: deb-pipeline

Bug #52453: adjust MultiInput add button styling
  management/univention-web/js/widgets/MultiInput.js
Due: deb-pipeline

Bug #52453: adjust user wizard styling
  management/univention-management-console-module-udm/umc/js/udm.css
  management/univention-management-console-module-udm/umc/js/udm/wizards/users/user.js
Due: deb-pipeline

Bug #51685: Fix TypeError
  management/univention-directory-manager-rest/src/univention/admin/rest/module.py
Due: deb-pipeline

Bug #52576: fix removing options on UDM CLI create
  doc/errata/staging/univention-directory-manager-modules.yaml
  management/univention-directory-manager-modules/debian/changelog
  management/univention-directory-manager-modules/modules/univention/admincli/admin.py
Due: deb-pipeline

Bug #52576: fix removing options on UDM CLI create
  management/univention-directory-manager-modules/debian/changelog
  management/univention-directory-manager-modules/modules/univention/admincli/admin.py
Due: deb-pipeline

Bug #52448 dhcp: Remove univention-dhcp SysV init
  services/univention-dhcp/debian/changelog
  services/univention-dhcp/debian/univention-dhcp.postinst
Due: deb-pipeline

Bug #51685, #51604: changelog
  doc/changelog/changelog-5.0-0.xml
Due: doc-pipeline

Bug #52551: update in pre-join hook before installing ucsschool (required on replication node)
  test/utils/utils-school.sh
Due: none
