Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: doc-pipeline, deb-pipeline

doc-pipeline:
  stage: test
  needs:
  - generate-config
  trigger:
    include:
    - artifact: generated-config-doc.yml
      job: generate-config
    strategy: depend

deb-pipeline:
  stage: test
  needs:
  - generate-config
  trigger:
    include:
    - artifact: generated-config-deb.yml
      job: generate-config
    strategy: depend

Bug #52869: Portal entries after update
  management/univention-portal/33univention-portal.inst
  management/univention-portal/debian/changelog
Due: deb-pipeline

Bug #51197: Prevent tracebacks, print warnings
  management/univention-portal/debian/changelog
  management/univention-portal/python/univention/portal/extensions/reloader.py
Due: deb-pipeline

Bug #51197: Prevent tracebacks, print warnings (2)
  management/univention-appcenter/conffiles/create_portal_entries.py
  management/univention-appcenter/debian/changelog
Due: deb-pipeline

Bug #51197: Removed some now unneeded attributes from portals/portal
  management/univention-portal/33univention-portal.inst
  management/univention-portal/debian/changelog
  management/univention-portal/listener/portal_server.py
  management/univention-portal/udm/handlers/portal.py
  management/univention-portal/udm/migrate-to-new-portal
Due: deb-pipeline

fixup! Bug #52771: added update-check to umc and checks
  management/univention-appcenter/debian/control
  management/univention-appcenter/python/appcenter/actions/update_check.py
Due: deb-pipeline

Bug #51197: remove deprecated apps before updating
  test/scenarios/update-testing/update-from-2.4-start-4.4-7.cfg
  test/scenarios/update-testing/update-from-4.2-4.cfg
Due: none

Bug #51197: Forgot one file where the old attributes are still used
  management/univention-portal/debian/changelog
  management/univention-portal/python/univention/portal/extensions/reloader.py
Due: deb-pipeline

Bug #53104: Add advice for new OpenSSL defaults for TLS 1.2 & CipherString security level
  doc/changelog/release-notes-5.0-0-de.xml
  doc/changelog/release-notes-5.0-0-en.xml
Due: doc-pipeline

Bug #52044: document mapping of mail attributes
  services/univention-ad-connector/README.md
Due: deb-pipeline

refacor[uss]: shellcheck
  base/univention-system-setup/debian/univention-system-setup-boot.init
  base/univention-system-setup/usr/share/univention-system-setup/startxwithfirefox
Due: deb-pipeline

fix[uss]: Remove background setting code
  base/univention-system-setup/usr/share/univention-system-setup/startxwithfirefox
Due: deb-pipeline

refacor[uss]: restarting services
  base/univention-system-setup/usr/share/univention-system-setup/startxwithfirefox
Due: deb-pipeline

fix[uss]: Remove EC2 networ handling
  base/univention-system-setup/debian/univention-system-setup-boot.init
Due: deb-pipeline

fix[updater]: Stop en-/disabling apache2.service
  base/univention-updater/debian/changelog
  base/univention-updater/script/disable-apache2-umc
  base/univention-updater/script/enable-apache2-umc
Due: deb-pipeline

fix[uss]: Convert USS-boot to systemd.service
  base/univention-system-setup/debian/changelog
  base/univention-system-setup/debian/compat
  base/univention-system-setup/debian/control
  base/univention-system-setup/debian/rules
  base/univention-system-setup/debian/univention-system-setup-boot.init
  base/univention-system-setup/debian/univention-system-setup-boot.install
  base/univention-system-setup/debian/univention-system-setup-boot.service
  base/univention-system-setup/debian/univention-system-setup-boot.univention-system-setup-boot-prepare-ssh.service
  base/univention-system-setup/debian/univention-system-setup-boot.univention-system-setup-boot-prepare-ssl.service
  base/univention-system-setup/usr/share/univention-system-setup-boot/init
Due: deb-pipeline

fix[server]: Depend on linux-image-amd64
  base/univention-server/debian/changelog
  base/univention-server/debian/control
Due: deb-pipeline

fix[uss]: Fix APT repository permissions
  base/univention-system-setup/usr/share/univention-system-setup/download-packages
Due: deb-pipeline

fix[server]: Depend on linux-image-amd64 2
  base/univention-server/debian/control
Due: deb-pipeline

Bug #53111: code cleanup
  mail/univention-mail-dovecot/modules/univention/mail/dovecot_shared_folder.py
Due: deb-pipeline

Bug #53111: add changelog entry
  mail/univention-mail-dovecot/debian/changelog
Due: deb-pipeline

Bug #53111: fix ACL parser
  test/ucs-test/tests/40_mail/essential/mailclient.py
Due: deb-pipeline

Bug #53111: identifiers should be escaped to prevent parsing errors
  mail/univention-mail-dovecot/modules/univention/mail/dovecot_shared_folder.py
Due: deb-pipeline

Bug #53111: add test 40_mail/43_dovecot_shared_folder_create_folder_with_acls
  test/ucs-test/tests/40_mail/43_dovecot_shared_folder_create_folder_with_acls
Due: deb-pipeline

Bug #53111: add changelog entry
  test/ucs-test/debian/changelog
Due: deb-pipeline

fix[grub]: Close gap between Debian SHIM and Univention GRUB2
  base/univention-grub/debian/changelog
  base/univention-grub/debian/univention-grub.postinst
Due: deb-pipeline

Bug #52869: Add login tile
  management/univention-portal/33univention-portal.inst
  management/univention-portal/debian/changelog
  management/univention-portal/debian/univention-portal.install
Due: deb-pipeline

fixup! Bug #52869: Add login tile
  management/univention-portal/login.svg
Due: deb-pipeline

Bug #52869: Improved edit mode side navigation
  management/univention-portal/debian/changelog
  management/univention-portal/frontend/src/App.vue
  management/univention-portal/frontend/src/assets/data/dictionary.js
  management/univention-portal/frontend/src/assets/de.po
  management/univention-portal/frontend/src/assets/styles/_base.styl
  management/univention-portal/frontend/src/components/navigation/EditModeSideNavigation.vue
  management/univention-portal/frontend/src/components/navigation/MenuItem.vue
  management/univention-portal/frontend/src/components/navigation/SideNavigation.vue
  management/univention-portal/frontend/src/mixins/TileClick.vue
  management/univention-portal/frontend/src/store/modules/locale/index.ts
  management/univention-portal/frontend/src/store/modules/portalData/index.ts
  management/univention-portal/udm/handlers/de.po
Due: deb-pipeline

Bug #51197: Adjust tests to removed attributes in portals/portal
  test/ucs-test/debian/changelog
  test/ucs-test/tests/71_udm-settings/40_create_portal_entry
Due: deb-pipeline

Bug #53118: xorg-server 2:1.19.2-1+deb9u8
  doc/errata/staging/xorg-server.yaml
Due: none

Bug #53119: smarty3 3.1.31+20161214.1.c7d42e4+selfpack1-2+deb9u2
  doc/errata/staging/smarty3.yaml
Due: none

Bug #53119: smarty3 3.1.31+20161214.1.c7d42e4+selfpack1-2+deb9u3
  doc/errata/staging/smarty3.yaml
Due: none

Bug #52451: lxml 3.7.1-1+deb9u1
  doc/errata/published/2020-12-09_830_lxml.yaml
Due: none

Bug #51804: univention-directory-notifier 13.0.3-3A~4.4.0.202012011723
  doc/errata/published/2020-12-09_835_univention-directory-notifier.yaml
Due: none

Bug #52293: univention-portal 3.0.3-1A~4.4.0.202012151822
  doc/errata/published/2020-12-16_843_univention-portal.yaml
Due: none

Bug #52371: univention-management-console 11.0.6-2A~4.4.0.202012152339
  doc/errata/published/2020-12-16_848_univention-management-console.yaml
Due: none

Bug #50766: univention-s4-connector 13.0.2-88A~4.4.0.202103231539
  doc/errata/published/2021-03-24_935_univention-s4-connector.yaml
Due: none

Bug #52508: univention-management-console 11.0.6-3A~4.4.0.202012161931
  doc/errata/published/2020-12-17_850_univention-management-console.yaml
Due: none

Bug #52962: univention-dansguardian 12.0.1-3A~4.4.0.202103311835
  doc/errata/published/2021-04-07_946_univention-dansguardian.yaml
Due: none

Bug #52665: univention-web 3.0.6-2A~4.4.0.202101181322
  doc/errata/published/2021-02-03_881_univention-web.yaml
Due: none

Path conditions:
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
