Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: doc-pipeline, deb-pipeline

doc-pipeline:
  stage: test
  needs:
  - generate-config
  trigger:
    include:
    - artifact: generated-config-doc.yml
      job: generate-config
    strategy: depend

deb-pipeline:
  stage: test
  needs:
  - generate-config
  trigger:
    include:
    - artifact: generated-config-deb.yml
      job: generate-config
    strategy: depend

Bug #52980: univention-snmpd ANNOUNCE
  doc/errata/published/2021-04-14_958_univention-snmpd.yaml
Due: none

Bug #53059: Protect univention-mariadb from autoremove during 5.0-0 upgrade
  base/univention-updater/debian/changelog
  base/univention-updater/script/preup.sh
Due: deb-pipeline

Bug #53093: Provide script migrate_legacy_dns_zones.sh
  services/univention-samba4/debian/changelog
  services/univention-samba4/scripts/migrate_legacy_dns_zones.sh
Due: deb-pipeline

fixup! Bug #52984: UDM CLI: support modify --ignore_not_exists
  doc/changelog/changelog-5.0-0.xml
Due: doc-pipeline

fix[celery]: Remove celery
  doc/changelog/changelog-5.0-0.xml
  services/univention-celery/conffiles/etc/rabbitmq/rabbitmq.config
  services/univention-celery/debian/changelog
  services/univention-celery/debian/compat
  services/univention-celery/debian/control
  services/univention-celery/debian/copyright
  services/univention-celery/debian/rules
  services/univention-celery/debian/ucslint.overrides
  services/univention-celery/debian/univention-celery.install
  services/univention-celery/debian/univention-celery.postinst
  services/univention-celery/debian/univention-celery.univention-config-registry
  services/univention-celery/debian/univention-celery.univention-config-registry-variables
  services/univention-celery/shell/celery.sh
  services/univention-celery/usr/share/univention-celery/examples/etc/default/celery-worker-NAME
  services/univention-celery/usr/share/univention-celery/examples/etc/init.d/celery-worker-NAME_change_provides_line
Due: doc-pipeline, deb-pipeline

fixup! Bug #51763: Changelog entry
  doc/changelog/changelog-5.0-0.xml
Due: doc-pipeline

Bug #53093: Advisory
  doc/changelog/changelog-5.0-0.xml
Due: doc-pipeline

Bug #52961: remove yaml for unmaintained package
  doc/errata/staging/univention-samba4wins.yaml
Due: none

Bug #53078: Update links from UCS 4.4-7 to UCS 4.4-8
  .gitlab-ci/base.yml
  services/univention-net-installer/TEMPLATE
  services/univention-net-installer/debian/changelog
  test/branch-tests/run.sh
  test/utils/start-test.sh
Due: deb-pipeline

Bug #53078: Clone UCS 4.4-7 to UCS 4.4-8 branch
  doc/changelog/Makefile
  doc/changelog/changelog-4.4-7.xml
  doc/changelog/changelog-4.4-8.xml
  doc/changelog/release-notes-4.4-8-de.xml
  doc/changelog/release-notes-4.4-8-en.xml
  doc/errata/staging/0security-template.yaml
  doc/errata/staging/0template.yaml
  doc/extended-docs/installation-4.4.xml
  doc/manual/handbuch-4.4.xml
  doc/manual/manual-4.4.xml
Due: doc-pipeline

Bug #53093: Copyright header
  services/univention-samba4/scripts/migrate_legacy_dns_zones.sh
Due: deb-pipeline

Bug #52771: added update-check to umc and checks
  base/univention-updater/debian/changelog
  base/univention-updater/script/check.sh
  base/univention-updater/umc/python/updater/__init__.py
  base/univention-updater/umc/python/updater/de.po
  management/univention-appcenter/debian/changelog
  management/univention-appcenter/python/appcenter/actions/update.py
  management/univention-appcenter/python/appcenter/actions/update_check.py
  test/ucs-test/debian/changelog
  test/ucs-test/tests/20_appcenter/90_update_check
Due: deb-pipeline

fixup! Bug #52771: added update-check to umc and checks
  test/ucs-test/debian/changelog
Due: deb-pipeline

Bug #53079 up: Adapt links and components for 4.4-8
  base/univention-updater/debian/changelog
  base/univention-updater/debian/univention-updater.postinst
  base/univention-updater/script/postup.sh
Due: deb-pipeline

fixup! Bug #51482 print: Remove PyKota support
  services/univention-printserver/umc/js/de.po
  services/univention-printserver/umc/js/printers.js
  services/univention-printserver/umc/js/printers/DetailPage.js
  services/univention-printserver/umc/python/printers/de.po
Due: deb-pipeline

Bug #53099: prevent failing upgrade with univention-kde installed
  base/univention-updater/script/preup.sh
Due: deb-pipeline

Bug #31996: remove support for --bindpwd credential passing
  doc/developer-reference/join/join.xml
  management/univention-join/join.sh
  management/univention-join/joinscripthelper.lib
  management/univention-join/univention-join
  management/univention-join/univention-run-join-scripts
  management/univention-join/univention-server-join
Due: doc-pipeline, deb-pipeline

Bug #53011: make sure squid starts when configured as transparent proxy
  services/univention-squid/conffiles/etc/squid/squid.conf
  services/univention-squid/debian/changelog
Due: deb-pipeline

Bug #52043: Log mapping to /var/log/univention/connector-s4-mapping.log
  services/univention-s4-connector/debian/changelog
  services/univention-s4-connector/modules/univention/s4connector/__init__.py
  services/univention-s4-connector/modules/univention/s4connector/s4/__init__.py
  services/univention-s4-connector/modules/univention/s4connector/s4/main.py
Due: deb-pipeline

Bug #52044: Log mapping to /var/log/univention/connector-ad-mapping.log
  services/univention-ad-connector/debian/changelog
  services/univention-ad-connector/modules/univention/connector/ad/__init__.py
  services/univention-ad-connector/modules/univention/connector/ad/main.py
Due: deb-pipeline

Bug #31996: remove support for --bindpwd credential passing
  doc/changelog/changelog-5.0-0.xml
  doc/changelog/release-notes-5.0-0-de.xml
  doc/changelog/release-notes-5.0-0-en.xml
Due: doc-pipeline

fixup! Bug #53093: Provide script migrate_legacy_dns_zones.sh
  services/univention-samba4/scripts/migrate_legacy_dns_zones.sh
Due: deb-pipeline

fixup! Bug #50648 UDM policies/registry: Make python3 compatible
  management/univention-directory-manager-modules/modules/univention/admin/handlers/__init__.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/policies/registry.py
Due: deb-pipeline

Bug #53085 DVD: UCS-4.4-8 DVD
  base/univention-dvd/data/ucs448/amd64_netinst_udeb_include
  base/univention-dvd/data/ucs448/amd64_udeb_include
  base/univention-dvd/data/ucs448/exclude-udebs
  base/univention-dvd/data/ucs448/exclude-udebs-amd64
  base/univention-dvd/data/ucs448/exclude-udebs-i386
  base/univention-dvd/data/ucs448/grub-theme.in
  base/univention-dvd/data/ucs448/i386_netinst_udeb_include
  base/univention-dvd/data/ucs448/i386_udeb_include
  base/univention-dvd/data/ucs448/udeb_exclude
  base/univention-dvd/data/ucs448/udeb_include
  base/univention-dvd/debian/changelog
  base/univention-dvd/tasks/ucs448/empty
  base/univention-dvd/tasks/ucs448/exclude
  base/univention-dvd/tasks/ucs448/forcd1
  base/univention-dvd/tasks/ucs448/task-ucs448
  base/univention-dvd/tools/boot/ucs448/boot-amd64
  base/univention-dvd/tools/boot/ucs448/boot-i386
  base/univention-dvd/tools/boot/ucs448/boot-x86
  base/univention-dvd/tools/boot/ucs448/common.sh
  base/univention-dvd/tools/boot/ucs448/parse_isolinux
  base/univention-dvd/tools/boot/ucs448/x86-desktop.sh
  base/univention-dvd/tools/ucs448
  base/univention-dvd/ucs448.conf
Due: deb-pipeline

Bug #52847: Changelog
  doc/changelog/changelog-5.0-0.xml
Due: doc-pipeline

Bug #52715: removed maintained-packages.txt
  base/univention-updater/README.md
  base/univention-updater/debian/changelog
  base/univention-updater/debian/univention-updater.install
  base/univention-updater/maintained-packages.txt
  base/univention-updater/modules/univention/updater/scripts/list_installed_unmaintained_packages.py
Due: deb-pipeline

Bug #52715: added maintained-packages.txt
  base/univention-errata-level/README.md
  base/univention-errata-level/debian/README.source
  base/univention-errata-level/debian/univention-errata-level.install
  base/univention-errata-level/maintained-packages.txt
Due: deb-pipeline

Bug #53086: Update required target release
  test/scenarios/ucsschool-performance-30000.cfg
  test/scenarios/ucsschool-performance-500.cfg
  test/scenarios/ucsschool-performance-65000.cfg
  test/scenarios/ucsschool-performance-new-import-10000.cfg
Due: none

Bug #52715: added maintained-packages.txt
  base/univention-errata-level/README.md
Due: deb-pipeline

fixup! fixup! Bug #50648 UDM policies/registry: Make python3 compatible
  management/univention-directory-manager-modules/modules/univention/admin/handlers/__init__.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/policies/registry.py
Due: deb-pipeline

Bug #53066: Default Vendor URL should only contain a URL
  test/generate-appliance/bin/generate_appliance
  test/generate-appliance/debian/changelog
Due: deb-pipeline

Bug #53066: Default Vendor URL should only contain a URL
  test/utils/base_appliance_local.sh
Due: none

fix[uss]: Remove background setting code
  base/univention-system-setup/usr/share/univention-system-setup/startxwithfirefox
Due: deb-pipeline

fix[uss]: Convert USS-boot to systemd.service
  base/univention-system-setup/debian/changelog
  base/univention-system-setup/debian/compat
  base/univention-system-setup/debian/control
  base/univention-system-setup/debian/rules
  base/univention-system-setup/debian/univention-system-setup-boot.init
  base/univention-system-setup/debian/univention-system-setup-boot.install
  base/univention-system-setup/debian/univention-system-setup-boot.service
  base/univention-system-setup/debian/univention-system-setup-boot.univention-system-setup-boot-prepare-ssh.service
  base/univention-system-setup/debian/univention-system-setup-boot.univention-system-setup-boot-prepare-ssl.service
  base/univention-system-setup/usr/share/univention-system-setup-boot/init
Due: deb-pipeline

fix[updater]: Stop en-/disabling apache2.service
  base/univention-updater/debian/changelog
  base/univention-updater/script/disable-apache2-umc
  base/univention-updater/script/enable-apache2-umc
Due: deb-pipeline

fix[uss]: Remove EC2 networ handling
  base/univention-system-setup/debian/univention-system-setup-boot.init
Due: deb-pipeline

refacor[uss]: restarting services
  base/univention-system-setup/usr/share/univention-system-setup/startxwithfirefox
Due: deb-pipeline

refacor[uss]: shellcheck
  base/univention-system-setup/debian/univention-system-setup-boot.init
  base/univention-system-setup/usr/share/univention-system-setup/startxwithfirefox
Due: deb-pipeline

Path conditions:
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
