Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: doc-pipeline, deb-pipeline

.gitlab-ci.yml:

include:
  - template: 'Workflows/Branch-Pipelines.gitlab-ci.yml'
  - local: '/.gitlab-ci/base.yml'

generate-config:
  stage: build
  rules:
    - when: always
  image:
    name: $BUILD
    entrypoint: [""]
  script:
    - .gitlab-ci/build-ci
    - >
      deb-builder
      --yaml .gitlab-ci/base.yml
      --yaml .gitlab-ci/base-deb.yml
      --out generated-config-deb.yml
      --skip src:univention-kernel-image-signed
      --skip src:grub-efi-amd64-signed
      --skip src:shim
      --skip src:python-notifier
      --skip src:univention-kvm-compat
      --skip src:univention-foomatic-ppds
      */*/debian/control
  artifacts:
    paths:
      - generated-config-doc.yml
      - generated-config-deb.yml

prepare aptly:
  stage: build
  rules:
    - when: always
  image: curlimages/curl
  script:
    - "$CI_PROJECT_DIR/.gitlab-ci/aptly-create || :"
    - $CI_PROJECT_DIR/.gitlab-ci/aptly-publish
  environment:
    name: $CI_COMMIT_REF_NAME
    url: $APT/$CI_COMMIT_REF_SLUG/
    on_stop: drop aptly
    auto_stop_in: 6 month

drop aptly:
  stage: build
  variables:
    GIT_STRATEGY: none
  image: curlimages/curl
  script:
    - "curl --silent --show-error -X DELETE $APTLY/publish/$CI_COMMIT_REF_SLUG/git || :"
    - "curl --silent --show-error -X DELETE $APTLY/repos/$CI_COMMIT_REF_SLUG || :"
  rules:
    - when: manual
      allow_failure: true
  environment:
    name: $CI_COMMIT_REF_NAME
    action: stop

doc-pipeline:
  stage: test
  rules:
    - changes:
      - "doc/[^e]*/**/*"
      - "doc/e[^r]*/**/*"
      - "doc/er[^r]*/**/*"
      - "doc/err[^a]*/**/*"
      - "doc/erra[^t]*/**/*"
      - "doc/errat[^a]*/**/*"
      - "doc/errata?*/**/*"
  needs:
    - generate-config
  trigger:
    include:
      - artifact: generated-config-doc.yml
        job: generate-config
    strategy: depend

deb-pipeline:
  stage: test
  rules:
    - changes:
      - "[^dt]*/*/**/*"
      - "d[^o]*/*/**/*"
      - "do[^c]*/*/**/*"
      - "doc?*/*/**/*"
      - "t[^e]*/*/**/*"
      - "te[^s]*/*/**/*"
      - "tes[^t]*/*/**/*"
      - "test?*/*/**/*"
      - "test/generate-appliance/**/*"
      - "test/ucs-test/**/*"
      - "test/ucs-test-tools/**/*"
      - "test/univention-demo-configuration/**/*"
  needs:
    - generate-config
  trigger:
    include:
      - artifact: generated-config-deb.yml
        job: generate-config
    strategy: depend

Bug #52673: fix jenkins job
  test/scenarios/autotest-241-ucsschool-HTTP-API.cfg
  test/scenarios/autotest-243-ucsschool-DL-SH.cfg
Due: none

Bug #52862: fix accessing objects containing urlencoded , in the DN
  management/univention-directory-manager-rest/src/univention/admin/rest/module.py
Due: deb-pipeline

Bug #51197: change settings/portal_all to portal/all
  management/univention-directory-manager-rest/src/univention/admin/rest/module.py
Due: deb-pipeline

Bug #45918: New link syntax
  base/univention-system-setup/debian/changelog
  base/univention-system-setup/umc/python/setup/netconf/modules/LdapReferences.py
Due: deb-pipeline

fixup! Bug #45918: New link syntax
  base/univention-system-setup/umc/python/setup/netconf/modules/LdapReferences.py
Due: deb-pipeline

fixup! fixup! Bug #45918: New link syntax
  base/univention-system-setup/umc/python/setup/netconf/modules/LdapReferences.py
Due: deb-pipeline

Bug #52869: Minor code fixes
  management/univention-portal/debian/changelog
  management/univention-portal/frontend/src/assets/de.po
  management/univention-portal/listener/portal_server.py
  management/univention-portal/python/univention/portal/extensions/portal.py
  management/univention-portal/udm/api/portal.py
  management/univention-portal/udm/handlers/de.po
  management/univention-portal/udm/syntax/univention-portal.py
Due: deb-pipeline

Bug #45918: Changelog
  doc/changelog/changelog-5.0-0.xml
Due: doc-pipeline

Bug #52437: Increment joinscript version by 10
  management/univention-join/20univention-join.inst
  management/univention-join/debian/changelog
  management/univention-self-service/34univention-self-service.inst
  management/univention-self-service/debian/changelog
  management/univention-server-overview/35univention-server-overview.inst
  management/univention-server-overview/debian/changelog
  services/univention-printserver/79univention-printserver-pdf.inst
  services/univention-printserver/79univention-printserver.inst
  services/univention-printserver/debian/changelog
Due: deb-pipeline

Bug #52862: enhance redirection handling
  management/univention-directory-manager-rest/src/univention/admin/rest/client/__init__.py
Due: deb-pipeline

Bug #52962: add unjoin script
  services/univention-dansguardian/21univention-dansguardian.uinst
  services/univention-dansguardian/debian/changelog
  services/univention-dansguardian/debian/univention-dansguardian.install
  services/univention-dansguardian/debian/univention-dansguardian.postinst
  services/univention-dansguardian/debian/univention-dansguardian.postrm
  services/univention-dansguardian/debian/univention-dansguardian.prerm
Due: deb-pipeline

YAML Bug #52962
  doc/errata/staging/univention-dansguardian.yaml
Due: none

Bug #51483: remove dansguardian support
  services/univention-squid/conffiles/etc/squid/squid.conf
  services/univention-squid/debian/changelog
  services/univention-squid/debian/univention-squid.univention-config-registry
  services/univention-squid/debian/univention-squid.univention-config-registry-variables
Due: deb-pipeline

fixup! Bug #51483: remove package univention-nagios-dansguardian
  nagios/univention-nagios/debian/control
Due: deb-pipeline

Bug #51483: document removed UCR variables: squid/virusscan squid/contentscan
  doc/extended-docs/ucr-deprecated.yaml
Due: doc-pipeline

fixup! Bug #51483: remove dansguardian support
  services/univention-squid/debian/univention-squid.univention-config-registry-variables
Due: deb-pipeline

fixup! Bug #52962: add unjoin script
  services/univention-dansguardian/21univention-dansguardian.uinst
Due: deb-pipeline

Bug #52962: add unjoinscript for univention-nagios-dansguardian
  nagios/univention-nagios-servicechecks/65univention-nagios-dansguardian.uinst
  nagios/univention-nagios-servicechecks/debian/changelog
  nagios/univention-nagios-servicechecks/debian/univention-nagios-dansguardian.install
  nagios/univention-nagios-servicechecks/debian/univention-nagios-dansguardian.postrm
  nagios/univention-nagios-servicechecks/debian/univention-nagios-dansguardian.prerm
Due: deb-pipeline

Bug #52881: changes for UCS 5.0-0
  test/scenarios/install-testing/master-french-static-ip.cfg
  test/scenarios/install-testing/master-german.cfg
  test/scenarios/install-testing/samba-env.cfg
  test/utils/installation_test/installation.py
  test/utils/installation_test/languages/german.py
Due: none

YAML Bug #52962
  doc/errata/staging/univention-dansguardian.yaml
  doc/errata/staging/univention-nagios-servicechecks.yaml
Due: none

Bug #52863: adjust headerButtons for AppPostInstallWizard
  management/univention-appcenter/umc/js/appcenter/AppInstallDialog.js
  management/univention-appcenter/umc/js/appcenter/AppPostInstallWizard.js
Due: deb-pipeline

Bug #52863: debian changelog
  management/univention-appcenter/debian/changelog
Due: deb-pipeline

Bug #52869: SAML issue
  management/univention-portal/33univention-portal.inst
  management/univention-portal/conffiles/usr/lib/univention-portal/config/config.json
  management/univention-portal/debian/changelog
Due: deb-pipeline

Bug #52869: Honor background color of tiles
  management/univention-portal/frontend/src/jsHelper/createCategories.js
Due: deb-pipeline

Bug #49381 move s4+adtest to ad2019
  test/scenarios/ad-connector/autotest-237-adsync-s4connector-w2k12r2-german.cfg
Due: none

Bug #52923: redirect output to logfile and not to stdout
  base/univention-updater/script/postup.sh
  base/univention-updater/script/preup.sh
Due: deb-pipeline

Bug #52974: disable libvirtd during update to prevent aborting update
  base/univention-updater/script/postup.sh
  base/univention-updater/script/preup.sh
Due: deb-pipeline

Bug #49381 move s4+adtest to ad2019
  test/scenarios/ad-connector/autotest-237-adsync-s4connector-w2k19-english.cfg
Due: none

Bug #52863: Better reloadPage behaviour
  management/univention-appcenter/debian/changelog
  management/univention-appcenter/umc/js/appcenter/App.js
  management/univention-appcenter/umc/js/appcenter/AppCenterPage.js
  management/univention-appcenter/umc/js/appcenter/AppDetailsPage.js
Due: deb-pipeline

Bug #52869: UMCLang cookie
  management/univention-portal/frontend/.env.local_example
  management/univention-portal/frontend/.gitlab-ci.yml
  management/univention-portal/frontend/src/App.vue
  management/univention-portal/frontend/src/assets/de.po
  management/univention-portal/frontend/src/assets/styles/_base.styl
  management/univention-portal/frontend/src/components/PortalTile.vue
  management/univention-portal/frontend/src/components/admin/ModalAdmin.vue
  management/univention-portal/frontend/src/jsHelper/tools.ts
  management/univention-portal/frontend/src/jsHelper/umc.ts
  management/univention-portal/frontend/src/store/modules/locale.ts
  management/univention-portal/frontend/tests/e2e/specs/TestPortalLanding.js
Due: deb-pipeline

Bug #52453: debian changelog
  management/univention-appcenter/debian/changelog
  management/univention-web/debian/changelog
Due: deb-pipeline

Bug #52453: center dialog
  management/univention-appcenter/umc/js/appcenter/AppDetailsPage.js
Due: deb-pipeline

Bug #52453: remove unused code
  management/univention-appcenter/umc/js/appcenter/AppDetailsPage.js
Due: deb-pipeline

Bug #52453: adjust styling of manage installation grid
  management/univention-appcenter/umc/js/appcenter.styl
  management/univention-appcenter/umc/js/appcenter/AppDetailsPage.js
  management/univention-web/css/Grid.styl
  management/univention-web/js/widgets/Grid.js
Due: deb-pipeline

Bug #52453: adjust some grid stylings
  management/univention-web/css/site/module.styl
Due: deb-pipeline

Bug #52453: debian changelog
  management/univention-appcenter/debian/changelog
Due: deb-pipeline

Bug #52453: adjust AppInstallWizard styling
  management/univention-appcenter/umc/js/appcenter/AppInstallWizard.js
Due: deb-pipeline

Bug #52863: missing return statement
  management/univention-appcenter/umc/js/appcenter/AppDetailsPage.js
Due: deb-pipeline
