Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: doc-pipeline, deb-pipeline

doc-pipeline:
  stage: test
  needs:
  - generate-config
  trigger:
    include:
    - artifact: generated-config-doc.yml
      job: generate-config
    strategy: depend

deb-pipeline:
  stage: test
  needs:
  - generate-config
  trigger:
    include:
    - artifact: generated-config-deb.yml
      job: generate-config
    strategy: depend

Bug #51530: update printer driver list
  services/univention-printserver/79univention-printserver-pdf.inst
  services/univention-printserver/79univention-printserver.inst
Due: deb-pipeline

Bug #46445: support compressed printer drivers
  services/univention-printserver/debian/changelog
  services/univention-printserver/debian/control
  services/univention-printserver/mark_models_as_deprecated.py
  services/univention-printserver/ppds.py
Due: deb-pipeline

Bug #46445: show verbose output in joinscript
  services/univention-printserver/79univention-printserver.inst
  services/univention-printserver/ppds.py
Due: deb-pipeline

Bug #46445: read foomatic-db compressed printer drivers
  test/ucs-test/tests/64_udm-printers/41_check_ppd
Due: deb-pipeline

Bug #51530: add missing HP printers
  services/univention-printserver/79univention-printserver.inst
Due: deb-pipeline

fixup! Bug #51530: add missing HP printers
  services/univention-printserver/79univention-printserver.inst
Due: deb-pipeline

Bug #51530: mark_models_as_deprecated.py: update obsoleting version
  services/univention-printserver/mark_models_as_deprecated.py
Due: deb-pipeline

fix[ucr]: PEP 484 type annotation
  base/univention-config-registry/python/univention/config_registry/backend.py
  base/univention-config-registry/python/univention/config_registry/frontend.py
  base/univention-config-registry/python/univention/config_registry/handler.py
Due: deb-pipeline

test[ucr]: Change FORCED to LDAP layer
  base/univention-config-registry/tests/conftest.py
  base/univention-config-registry/tests/test_backend.py
  base/univention-config-registry/tests/test_frontend.py
  base/univention-config-registry/tests/test_handler.py
Due: deb-pipeline

refactor[ucr]: Split run_filter
  base/univention-config-registry/python/univention/config_registry/handler.py
Due: deb-pipeline

fix[ucr]: Call handlers with old visible value
  base/univention-config-registry/debian/changelog
  base/univention-config-registry/python/univention/config_registry/frontend.py
  base/univention-config-registry/tests/test_frontend.py
Due: deb-pipeline

test[ucr]: Make test layer configurable
  base/univention-config-registry/tests/conftest.py
Due: deb-pipeline

refactor[ucr]: asciify
  base/univention-config-registry/python/univention/config_registry/misc.py
  base/univention-config-registry/tests/test_misc.py
Due: deb-pipeline

refactor[ucr]: asciify UCR variable
  base/univention-config-registry/python/univention/config_registry/handler.py
  base/univention-config-registry/tests/test_handler.py
Due: deb-pipeline

Bug #51530: don't mark existing models as deprecated
  services/univention-printserver/79univention-printserver.inst
Due: deb-pipeline

Bug #52821: wpa 2:2.4-1+deb9u9A~4.4.7.202103150947
  doc/errata/staging/wpa.yaml
Due: none

Bug #52904: zeromq3 4.2.1-4+deb9u4
  doc/errata/staging/zeromq3.yaml
Due: none

Bug #52905: linux 4.9.258-1
  doc/errata/staging/linux.yaml
Due: none

Bug #52906: pygments 2.2.0+dfsg-1+deb9u1
  doc/errata/staging/pygments.yaml
Due: none

Bug #52907: libupnp 1:1.6.19+git20160116-1.2+deb9u1
  doc/errata/staging/libupnp.yaml
Due: none

Bug #52908: libcaca 0.99.beta19-2.1~deb9u2
  doc/errata/staging/libcaca.yaml
Due: none

Bug #52017: fix double netmask e.g. 1.2.3.4/24/24
  services/univention-squid/conffiles/etc/squid/squid.conf
Due: deb-pipeline

Bug #51624: show message only if joinscript shall be executed
  management/univention-join/debian/changelog
  management/univention-join/joinscripthelper.lib
Due: deb-pipeline

fixup! Bug #51624: show message only if joinscript shall be executed
  management/univention-join/debian/changelog
Due: deb-pipeline

refactor[ucr]: Extract common layer walking code
  base/univention-config-registry/python/univention/config_registry/backend.py
  base/univention-config-registry/python/univention/config_registry/interfaces.py
Due: deb-pipeline

feat[ucr]: Private UCR factory
  base/univention-config-registry/debian/ucslint.overrides
  base/univention-config-registry/python/univention/config_registry/__init__.py
  base/univention-config-registry/tests/test_ucr.py
Due: deb-pipeline

feat[ucr]: Allow fluent use ucr().load()
  base/univention-config-registry/python/univention/config_registry/backend.py
  base/univention-config-registry/tests/test_backend.py
Due: deb-pipeline

style[ucr]: Cleanup file headers
  base/univention-config-registry/python/univention/config_registry/backend.py
  base/univention-config-registry/python/univention/config_registry/handler.py
Due: deb-pipeline

refactor[ucr]: shell issues in univention-ldapsearch
  base/univention-config-registry/scripts/univention-ldapsearch
Due: deb-pipeline

refactor[ucr]: Use compiled regular expression
  base/univention-config-registry/python/univention/config_registry/backend.py
Due: deb-pipeline

style[ucr]: Always set strict checking
  base/univention-config-registry/python/univention/config_registry/backend.py
Due: deb-pipeline

refactor[ucr]: Separate Boolean ops from UCR
  base/univention-config-registry/python/univention/config_registry/backend.py
Due: deb-pipeline

refactor[ucr]: Separate Boolean values
  base/univention-config-registry/python/univention/config_registry/backend.py
Due: deb-pipeline

refactor[ucr]: Separate RW from RO registry
  base/univention-config-registry/python/univention/config_registry/backend.py
  base/univention-config-registry/tests/conftest.py
Due: deb-pipeline

feat[ucr]: Add auto loading instance
  base/univention-config-registry/debian/control
  base/univention-config-registry/python/univention/config_registry/__init__.py
  base/univention-config-registry/python/univention/config_registry/backend.py
  base/univention-config-registry/setup.cfg
  base/univention-config-registry/tests/test_ucr.py
Due: deb-pipeline

doc[ucr]: Add API singleton documentation
  doc/developer-reference/ucr/ucr.xml
Due: doc-pipeline

doc[ucr]: Add debian/changelog
  base/univention-config-registry/debian/changelog
Due: deb-pipeline

doc[ucr]: Add changelog for UCR singleton API
  doc/changelog/changelog-5.0-0.xml
Due: doc-pipeline

feat[ucr]: Singleton UCR instance
  base/univention-config-registry/debian/control
  base/univention-config-registry/python/univention/config_registry/__init__.py
  base/univention-config-registry/setup.cfg
  base/univention-config-registry/tests/test_ucr.py
Due: deb-pipeline

Bug #46445: replace LDAP logic with UDM
  services/univention-printserver/mark_models_as_deprecated.py
Due: deb-pipeline

Path conditions:
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
