Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: doc-pipeline, deb-pipeline

doc-pipeline:
  stage: test
  needs:
  - generate-config
  trigger:
    include:
    - artifact: generated-config-doc.yml
      job: generate-config
    strategy: depend

deb-pipeline:
  stage: test
  needs:
  - generate-config
  trigger:
    include:
    - artifact: generated-config-deb.yml
      job: generate-config
    strategy: depend

ci[doc]: Ignore CodeClimate reports
  .gitignore
Due: none

Bug #52797: fix changelog
  doc/changelog/changelog-5.0-0.xml
Due: doc-pipeline

fix[up]: Revert to public repository server
  base/univention-updater/debian/changelog
  base/univention-updater/debian/univention-updater.postinst
Due: deb-pipeline

Bug #53268: graphviz ANNOUNCE
  doc/errata/published/2021-05-19_975_graphviz.yaml
Due: none

Bug #53269: libxml2 ANNOUNCE
  doc/errata/published/2021-05-19_976_libxml2.yaml
Due: none

Bug #53267: lz4 ANNOUNCE
  doc/errata/published/2021-05-19_977_lz4.yaml
Due: none

Bug #53270: postgresql-9.6 ANNOUNCE
  doc/errata/published/2021-05-19_978_postgresql-9.6.yaml
Due: none

Bug #52956: univention-directory-listener ANNOUNCE
  doc/errata/published/2021-05-19_979_univention-directory-listener.yaml
Due: none

Bug #52872: Adapt release notes to changed script name
  doc/changelog/release-notes-5.0-0-de.xml
  doc/changelog/release-notes-5.0-0-en.xml
Due: doc-pipeline

Bug #51869: check if correct amount of ad connectors are running
  nagios/univention-nagios-ad-connector/check_univention_ad_connector
  nagios/univention-nagios-ad-connector/debian/changelog
Due: deb-pipeline

Bug #51869: yaml
  doc/errata/staging/univention-nagios-ad-connector.yaml
Due: none

Bug #52446: fixup add test for mspolicy traceback when creating users/ldap
  test/ucs-test/debian/changelog
  test/ucs-test/tests/61_udm-users/54_udm_users_ldap_mspolicy
Due: deb-pipeline

Bug #53289: Remove empty value from portal syntax
  management/univention-portal/33univention-portal.inst
  management/univention-portal/debian/changelog
  management/univention-portal/udm/syntax/univention-portal.py
Due: deb-pipeline

Bug #53251: Update background image; add portal logo
  test/univention-demo-configuration/debian/changelog
  test/univention-demo-configuration/portal/domain-portal.ldif
  test/univention-demo-configuration/portal/portal.css
  test/univention-demo-configuration/portal/register_portal_entries.sh
  test/univention-demo-configuration/portal/ucs.svg
Due: deb-pipeline

Bug #53251: better css
  test/univention-demo-configuration/portal/portal.css
Due: deb-pipeline

Bug #53237: yaml
  doc/errata/staging/python-pathlib.yaml
Due: none

Bug #53292: removed SNAPSHOT
  test/scenarios/app-testing/autotest-100-app-master-no-samba.cfg
  test/scenarios/app-testing/autotest-101-app-master-s4.cfg
  test/scenarios/app-testing/autotest-102-app-backup-no-samba.cfg
  test/scenarios/app-testing/autotest-103-app-backup-s4.cfg
  test/scenarios/app-testing/autotest-104-app-slave-no-samba.cfg
  test/scenarios/app-testing/autotest-105-app-slave-s4.cfg
  test/scenarios/app-testing/autotest-106-app-member-no-samba.cfg
  test/scenarios/app-testing/autotest-107-app-member-s4.cfg
  test/scenarios/app-testing/autotest-110-release-appupdate-master-no-samba.cfg
  test/scenarios/app-testing/autotest-111-release-appupdate-master-s4.cfg
  test/scenarios/app-testing/autotest-112-release-appupdate-backup-no-samba.cfg
  test/scenarios/app-testing/autotest-113-release-appupdate-backup-s4.cfg
  test/scenarios/app-testing/autotest-114-release-appupdate-slave-no-samba.cfg
  test/scenarios/app-testing/autotest-115-release-appupdate-slave-s4.cfg
  test/scenarios/app-testing/autotest-116-release-appupdate-member-no-samba.cfg
  test/scenarios/app-testing/autotest-117-release-appupdate-member-s4.cfg
  test/scenarios/app-testing/autotest-120-appupdate-master-no-samba.cfg
  test/scenarios/app-testing/autotest-121-appupdate-master-s4.cfg
  test/scenarios/app-testing/autotest-122-appupdate-backup-no-samba.cfg
  test/scenarios/app-testing/autotest-123-appupdate-backup-s4.cfg
  test/scenarios/app-testing/autotest-124-appupdate-slave-no-samba.cfg
  test/scenarios/app-testing/autotest-125-appupdate-slave-s4.cfg
  test/scenarios/app-testing/autotest-126-appupdate-member-no-samba.cfg
  test/scenarios/app-testing/autotest-127-appupdate-member-s4.cfg
Due: none

Bug #53293: Remove Blog tile
  management/univention-portal/33univention-portal.inst
  management/univention-portal/debian/changelog
Due: deb-pipeline

Bug #52044: Cleanup: Wrap lines a bit better in AD-Connector section of manual
  doc/manual/windows-de.xml
  doc/manual/windows-en.xml
Due: doc-pipeline

Bug #52044: Mention TLS 1.2 requirement and SHA1 deprication in manual
  doc/manual/windows-de.xml
  doc/manual/windows-en.xml
Due: doc-pipeline

Bug #52762: set repo server before update
  test/scenarios/appliances/generic-kvm-template.cfg
Due: none

Bug #52762: set repo server before update
  test/scenarios/appliances/ucs-appliance.cfg
Due: none

fix[up]: Improve auxiliary objectClass reporting
  base/univention-updater/debian/changelog
  base/univention-updater/script/check.sh
Due: deb-pipeline

fixup! Bug #52044: Mention TLS 1.2 requirement and SHA1 deprication in manual
  doc/manual/windows-de.xml
  doc/manual/windows-en.xml
Due: doc-pipeline

fixup! Bug #53188: renewed screenshots for documentation
  doc/manual/computers-en.xml
Due: doc-pipeline

Bug #51961: english release highlights
  doc/changelog/release-notes-5.0-0-en.xml
Due: doc-pipeline

Bug #51961: german removed componets section
  doc/changelog/release-notes-5.0-0-de.xml
Due: doc-pipeline

Bug #51961: german release highlights
  doc/changelog/release-notes-5.0-0-de.xml
Due: doc-pipeline

Bug #51961: Add sections about Samba
  doc/changelog/release-notes-5.0-0-de.xml
  doc/changelog/release-notes-5.0-0-en.xml
Due: doc-pipeline

Bug #51961: spelling
  doc/changelog/release-notes-5.0-0-de.xml
  doc/changelog/release-notes-5.0-0-en.xml
Due: doc-pipeline

fix[doc/install]: UCS-5 updates
  doc/extended-docs/installation-5.0.xml
  doc/manual/computers-de.xml
  doc/manual/computers-en.xml
  test/utils/base_appliance.sh
Due: doc-pipeline

Bug #53315: postpone running of join script in postup.sh after the listener resync of UDM extensions
  base/univention-updater/script/postup.sh
Due: deb-pipeline

Bug #53304: fix Python 3 error: RuntimeError: dictionary changed size during iteration
  management/univention-directory-logger/debian/changelog
  management/univention-directory-logger/directory_logger.py
Due: deb-pipeline

Bug #53316: default master packages
  doc/changelog/release-notes-5.0-0-de.xml
  doc/changelog/release-notes-5.0-0-en.xml
Due: doc-pipeline

fix[doc/app-provider]: UCS-5 updates
  doc/app-center/app-provider-5.0.xml
Due: doc-pipeline

Path conditions:
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
