Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: doc-pipeline, deb-pipeline

.gitlab-ci.yml:

include:
  - template: 'Workflows/Branch-Pipelines.gitlab-ci.yml'
  - local: '/.gitlab-ci/base.yml'

generate-config:
  stage: build
  rules:
    - when: always
  image:
    name: $BUILD
    entrypoint: [""]
  script:
    - .gitlab-ci/build-ci
    - >
      deb-builder
      --yaml .gitlab-ci/base.yml
      --yaml .gitlab-ci/base-deb.yml
      --out generated-config-deb.yml
      --skip src:univention-kernel-image-signed
      --skip src:grub-efi-amd64-signed
      --skip src:shim
      --skip src:python-notifier
      --skip src:univention-kvm-compat
      --skip src:univention-foomatic-ppds
      */*/debian/control
  artifacts:
    paths:
      - generated-config-doc.yml
      - generated-config-deb.yml

prepare aptly:
  stage: build
  rules:
    - when: always
  image: curlimages/curl
  script:
    - "$CI_PROJECT_DIR/.gitlab-ci/aptly-create || :"
    - $CI_PROJECT_DIR/.gitlab-ci/aptly-publish
  environment:
    name: $CI_COMMIT_REF_NAME
    url: $APT/$CI_COMMIT_REF_SLUG/
    on_stop: drop aptly
    auto_stop_in: 6 month

drop aptly:
  stage: build
  variables:
    GIT_STRATEGY: none
  image: curlimages/curl
  script:
    - "curl --silent --show-error -X DELETE $APTLY/publish/$CI_COMMIT_REF_SLUG/git || :"
    - "curl --silent --show-error -X DELETE $APTLY/repos/$CI_COMMIT_REF_SLUG || :"
  rules:
    - when: manual
      allow_failure: true
  environment:
    name: $CI_COMMIT_REF_NAME
    action: stop

doc-pipeline:
  stage: test
  rules:
    - changes:
      - "doc/[^e]*/**/*"
      - "doc/e[^r]*/**/*"
      - "doc/er[^r]*/**/*"
      - "doc/err[^a]*/**/*"
      - "doc/erra[^t]*/**/*"
      - "doc/errat[^a]*/**/*"
      - "doc/errata?*/**/*"
  needs:
    - generate-config
  trigger:
    include:
      - artifact: generated-config-doc.yml
        job: generate-config
    strategy: depend

deb-pipeline:
  stage: test
  rules:
    - changes:
      - "[^dt]*/*/**/*"
      - "d[^o]*/*/**/*"
      - "do[^c]*/*/**/*"
      - "doc?*/*/**/*"
      - "t[^e]*/*/**/*"
      - "te[^s]*/*/**/*"
      - "tes[^t]*/*/**/*"
      - "test?*/*/**/*"
      - "test/generate-appliance/**/*"
      - "test/ucs-test/**/*"
      - "test/ucs-test-tools/**/*"
      - "test/univention-demo-configuration/**/*"
  needs:
    - generate-config
  trigger:
    include:
      - artifact: generated-config-deb.yml
        job: generate-config
    strategy: depend

Bug #53771: ntfs-3g 1:2017.3.23AR.3-3+deb10u1
  doc/errata/staging/ntfs-3g.yaml
Due: none

Bug #53772: firefox-esr 78.14.0esr-1~deb10u1
  doc/errata/staging/firefox-esr.yaml
Due: none

Bug #53774: firefox-esr 78.14.0esr-1~deb9u1
  doc/errata/staging/firefox-esr.yaml
Due: none

Bug #53776: [grep_traceback]: ignore traceback
  test/ucs-test/tests/99_end/grep_traceback.py
Due: deb-pipeline

Bug #53775: [grep_traceback]: ignore traceback
  test/ucs-test/tests/99_end/grep_traceback.py
Due: deb-pipeline

Bug #53779: support + in mimetypes
  doc/errata/staging/univention-management-console.yaml
  management/univention-management-console/debian/changelog
  management/univention-management-console/src/univention/management/console/protocol/message.py
Due: deb-pipeline

YAML Bug #53779
  doc/errata/staging/univention-management-console.yaml
Due: none

Bug #53754: fix errors due to missing syntax classes during errata upgrades
  management/univention-directory-manager-modules/modules/univention/admin/handlers/settings/udm_module.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/users/user.py
Due: deb-pipeline

Bug #53761: Load new UCR variables during configure
  management/univention-appcenter/debian/changelog
  management/univention-appcenter/python/appcenter-docker/actions/docker_configure.py
Due: deb-pipeline

Bug #53675: fix errors due to missing syntax classes during errata upgrades
  management/univention-directory-manager-modules/modules/univention/admin/handlers/settings/udm_module.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/users/user.py
Due: deb-pipeline

YAML Bug #53631
  doc/errata/staging/univention-directory-manager-modules.yaml
Due: none

YAML Bug #53675
  doc/errata/staging/univention-directory-manager-modules.yaml
Due: none

YAML Bug #53675
  doc/errata/staging/univention-management-console-module-udm.yaml
  doc/errata/staging/univention-web.yaml
Due: none

Bug #53713: Document MS365 Teams feature
  doc/manual/idm-cloud-de.xml
Due: doc-pipeline

Bug #53713: Typos
  doc/manual/idm-cloud-de.xml
  doc/manual/idm-cloud-en.xml
Due: doc-pipeline

Bug #53713: Document Team creation
  doc/manual/idm-cloud-de.xml
  doc/manual/idm-cloud-en.xml
Due: doc-pipeline

Bug #53713: Document MS365 Teams feature
  doc/manual/idm-cloud-de.xml
  doc/manual/idm-cloud-en.xml
Due: doc-pipeline

Bug #53761: YAML
  doc/errata/staging/univention-appcenter.yaml
Due: none

Bug #53761: Add test for reinitializing during configure
  test/ucs-test/debian/changelog
  test/ucs-test/tests/80_docker/89_app_configure_reinitialize
  test/ucs-test/tests/80_docker/dockertest.py
Due: deb-pipeline

Bug #41552: unify output of verify_ldap_object for multiple attributes:
  test/ucs-test/univention/testing/utils.py
Due: deb-pipeline

fixup! Bug #41552: unify output of verify_ldap_object for multiple attributes:
  test/ucs-test/univention/testing/utils.py
Due: deb-pipeline

fixup! Bug #53711: remove univentionShareSambaBlockingLocks
  test/ucs-test-tools/debian/changelog
Due: deb-pipeline

YAML Bug #50593
  doc/errata/staging/univention-s4-connector.yaml
Due: none

fixup! Bug #53754: fix errors due to missing syntax classes during errata upgrades
  management/univention-directory-manager-modules/modules/univention/admin/handlers/users/user.py
Due: deb-pipeline

fixup! Bug #53675: fix errors due to missing syntax classes during errata upgrades
  management/univention-directory-manager-modules/modules/univention/admin/handlers/users/user.py
Due: deb-pipeline

Bug #53655: reverting returnvalue to string
  management/univention-appcenter/debian/changelog
  management/univention-appcenter/python/appcenter/actions/install_base.py
Due: deb-pipeline

Bug #53655: update changelog
  doc/errata/staging/univention-appcenter.yaml
Due: none

Bug #53631: set local timezone as default value of accountActivationDate
  management/univention-directory-manager-modules/modules/univention/admin/handlers/users/user.py
  management/univention-directory-manager-modules/modules/univention/admin/syntax.py
Due: deb-pipeline

Bug #53631: only set accountActivationDate if all fields are specified
  management/univention-directory-manager-modules/modules/univention/admin/handlers/users/user.py
Due: deb-pipeline

Bug #53631: enable crontab every 15 minutes
  management/univention-directory-manager-modules/debian/univention-directory-manager-tools.univention-config-registry-variables
Due: deb-pipeline

Bug #53631: [users/user]: apply isort
  management/univention-directory-manager-modules/modules/univention/admin/handlers/users/user.py
Due: deb-pipeline

Bug #53675: set local timezone as default value of accountActivationDate
  management/univention-directory-manager-modules/modules/univention/admin/handlers/users/user.py
  management/univention-directory-manager-modules/modules/univention/admin/syntax.py
Due: deb-pipeline

Bug #53675: only set accountActivationDate if all fields are specified
  management/univention-directory-manager-modules/modules/univention/admin/handlers/users/user.py
Due: deb-pipeline

Bug #53675: enable crontab every 15 minutes
  management/univention-directory-manager-modules/debian/univention-directory-manager-tools.postinst
Due: deb-pipeline

Bug #53675: [users/user]: apply isort
  management/univention-directory-manager-modules/modules/univention/admin/handlers/users/user.py
Due: deb-pipeline
