Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: doc-pipeline, deb-pipeline

doc-pipeline:
  stage: test
  needs:
  - generate-config
  trigger:
    include:
    - artifact: generated-config-doc.yml
      job: generate-config
    strategy: depend

deb-pipeline:
  stage: test
  needs:
  - generate-config
  trigger:
    include:
    - artifact: generated-config-deb.yml
      job: generate-config
    strategy: depend

Expose authinfo in frontend
  management/univention-portal/frontend/src/jsHelper/createCategories.ts
  management/univention-portal/frontend/src/store/modules/portalData/portalData.helper.ts
  management/univention-portal/frontend/src/store/modules/portalData/portalData.models.ts
Due: deb-pipeline

fixup! Bug #54220: Set release to testing to be able to join school-replica
  test/scenarios/install-testing/school.cfg
Due: none

Do not display entries with allow_global_search
  management/univention-portal/frontend/src/components/PortalCategory.vue
Due: deb-pipeline

fixup! Expose authinfo in frontend
  management/univention-portal/frontend/src/store/modules/portalData/portalData.models.ts
Due: deb-pipeline

Bug #54221: improve role selection
  test/utils/installation_test/appliance-vnc-setup.py
Due: none

fixup! fixup! Expose authinfo in frontend
  management/univention-portal/frontend/src/jsHelper/createCategories.ts
Due: deb-pipeline

fixup! fixup! fixup! Expose authinfo in frontend
  management/univention-portal/frontend/src/jsHelper/createCategories.ts
Due: deb-pipeline

Bug #54222: ucr grub/generate-menu-lst is deprecated and unset in UCS 5
  test/utils/vm-ucs-image-check
Due: none

fixup! Bug #54220: Set release to testing to be able to join school-replica
  test/scenarios/install-testing/school-dev.cfg
  test/scenarios/install-testing/school-scope.cfg
  test/scenarios/install-testing/school.cfg
  test/utils/utils-school.sh
Due: none

Bug #54213: remove UCS5 update checks for 5.0-1
  base/univention-updater/debian/changelog
  base/univention-updater/script/check.sh
Due: deb-pipeline

fixup! test[univention-translog]: XFail bugs
  test/ucs-test/tests/25_directory-notifier/01_univention_translog_tool.py
Due: deb-pipeline

Issue #54: Automatic documentation deployment pipeline
  .gitlab-ci/base-doc.yml
Due: none

Bug #54220: Revert set release to testing to be able to join school-replica
  test/scenarios/install-testing/school-dev.cfg
  test/scenarios/install-testing/school-scope.cfg
  test/scenarios/install-testing/school.cfg
Due: none

fix[test]: UCS 5.0-1+e174 images
  test/utils/start-test.sh
Due: none

fix[errata]: Remove already releases errata YAML
  doc/errata/staging/nss.yaml
  doc/errata/staging/univention-ad-connector.yaml
  doc/errata/staging/univention-base-files.yaml
  doc/errata/staging/univention-config-registry.yaml
  doc/errata/staging/univention-directory-manager-modules.yaml
  doc/errata/staging/univention-directory-notifier.yaml
  doc/errata/staging/univention-group-membership-cache.yaml
  doc/errata/staging/univention-join.yaml
  doc/errata/staging/univention-ldap.yaml
  doc/errata/staging/univention-nagios.yaml
Due: none

Revert "Bug #54017: Do not raise WrongObjectType during search()"
  management/univention-directory-manager-modules/debian/changelog
  management/univention-directory-manager-modules/modules/univention/udm/modules/generic.py
Due: deb-pipeline

Bug #54017: Revert YAML
  doc/errata/staging/univention-directory-manager-modules.yaml
Due: none

Bug #54249: libsamplerate 0.1.8-8+deb9u1
  doc/errata/staging/libsamplerate.yaml
Due: none

Bug #54250: raptor2 2.0.14-1+deb9u2
  doc/errata/staging/raptor2.yaml
Due: none

fixup! fixup! fixup! feat[portal]: support setting of further authentication information
  management/univention-portal/python/univention/portal/user.py
Due: deb-pipeline

Bug #53821: Wrong bugnumber in advisory
  doc/errata/staging/openldap.yaml
Due: none

doc[changelog]: Add latest 5.0-0 errata 165-174
  doc/changelog/changelog-5.0-1.xml
Due: doc-pipeline

fixup! fixup! Bug #54220: Fix updater tests for 5.0-1
  test/ucs-test/debian/changelog
  test/ucs-test/tests/09_updater/49component-version-current-dep2
Due: deb-pipeline

Bug #54017: YAML
  doc/errata/staging/univention-directory-manager-modules.yaml
Due: none

Bug #54249: libsamplerate ANNOUNCE
  doc/errata/published/2021-12-15_1124_libsamplerate.yaml
Due: none

Bug #54250: raptor2 ANNOUNCE
  doc/errata/published/2021-12-15_1125_raptor2.yaml
Due: none

Bug #49033: univention-join ANNOUNCE
  doc/errata/published/2021-12-15_1126_univention-join.yaml
Due: none

Bug #48956,Bug #49033: univention-ldap ANNOUNCE
  doc/errata/published/2021-12-15_1127_univention-ldap.yaml
Due: none

Bug #48956: univention-directory-manager-modules ANNOUNCE
  doc/errata/published/2021-12-15_1128_univention-directory-manager-modules.yaml
Due: none

Bug #54242: python-babel ANNOUNCE
  doc/errata/published/2021-12-15_175_python-babel.yaml
Due: none

Bug #54213: Cleanup preup/postup modifications from 5.0 update
  base/univention-updater/debian/changelog
  base/univention-updater/script/postup.sh
  base/univention-updater/script/preup.sh
Due: deb-pipeline

fixup! fixup! Bug #54220: Fix updater tests for 5.0-1
  test/utils/utils.sh
Due: none

fixup! fixup! fixup! Bug #54220: Fix updater tests for 5.0-1
  base/univention-updater/script/postup.sh
Due: deb-pipeline

fixup! Bug #54213: Cleanup preup/postup modifications from 5.0 update
  base/univention-updater/script/preup.sh
Due: deb-pipeline

Bug #53538: port 60_umc/03_acls to pytest
  test/ucs-test/tests/60_umc/03_acls
  test/ucs-test/tests/60_umc/03_acls.py
Due: deb-pipeline

fix[postgresql]: Unset 12.0.2-2 postgresql/autostart
  doc/errata/staging/univention-postgresql.yaml
  services/univention-postgresql/debian/changelog
  services/univention-postgresql/debian/univention-postgresql-11.postinst
Due: deb-pipeline

Bug #54255: univention-postgresql 12.0.2-2A~5.0.0.202112161724
  doc/errata/staging/univention-postgresql.yaml
Due: none

fix[errata]: 5.0-1 template
  doc/errata/staging/0template.yaml
Due: none

Bug #54255: univention-postgresql ANNOUNCE
  doc/errata/published/2021-12-16_176_univention-postgresql.yaml
Due: none

Path conditions:
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
