Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: doc-pipeline, deb-pipeline

doc-pipeline:
  stage: test
  needs:
  - generate-config
  trigger:
    include:
    - artifact: generated-config-doc.yml
      job: generate-config
    strategy: depend

deb-pipeline:
  stage: test
  needs:
  - generate-config
  trigger:
    include:
    - artifact: generated-config-deb.yml
      job: generate-config
    strategy: depend

Bug #54013: Add copyright notice to mapusers.sh
  services/univention-samba/debian/changelog
  services/univention-samba/scripts/mapusers.sh
Due: deb-pipeline

Bug #54013: Advisory
  doc/errata/staging/univention-samba.yaml
Due: none

Bug #54056: postgresql-11 11.14-0+deb10u1
  doc/errata/staging/postgresql-11.yaml
Due: none

Bug #54057: ffmpeg 7:3.2.16-1+deb9u1
  doc/errata/staging/ffmpeg.yaml
Due: none

Bug #54058: postgresql-9.6 9.6.24-0+deb9u1
  doc/errata/staging/postgresql-9.6.yaml
Due: none

Bug #52762: moved template cfgs
  test/scenarios/kvm-templates/generic-kvm-template.cfg
  test/scenarios/kvm-templates/joined-kvm-templates.cfg
  test/scenarios/kvm-templates/role-kvm-templates.cfg
  test/scenarios/kvm-templates/ucs-school-singleserver-joined.cfg
Due: none

Bug #54014: yaml
  doc/errata/staging/samba.yaml
Due: none

Bug #54013: yaml
  doc/errata/staging/samba.yaml
  doc/errata/staging/univention-samba.yaml
Due: none

Bug #54014: yaml
  doc/errata/staging/univention-samba.yaml
Due: none

Bug #52762: add samba env templates
  test/scenarios/kvm-templates/README.md
  test/scenarios/kvm-templates/samba-env-kvm-templates.cfg
Due: none

Bug #54014: ldb ANNOUNCE
  doc/errata/published/2021-11-15_1092_ldb.yaml
Due: none

Bug #54014: univention-ldb-modules ANNOUNCE
  doc/errata/published/2021-11-15_1093_univention-ldb-modules.yaml
Due: none

Bug #54014: univention-samba ANNOUNCE
  doc/errata/published/2021-11-15_1094_univention-samba.yaml
Due: none

Bug #54014: samba ANNOUNCE
  doc/errata/published/2021-11-15_1095_samba.yaml
Due: none

Bug #54013: univention-samba4 ANNOUNCE
  doc/errata/published/2021-11-15_153_univention-samba4.yaml
Due: none

Bug #54013: ldb ANNOUNCE
  doc/errata/published/2021-11-15_154_ldb.yaml
Due: none

Bug #54013: univention-ldb-modules ANNOUNCE
  doc/errata/published/2021-11-15_155_univention-ldb-modules.yaml
Due: none

Bug #54013: univention-samba ANNOUNCE
  doc/errata/published/2021-11-15_156_univention-samba.yaml
Due: none

Bug #54013: samba ANNOUNCE
  doc/errata/published/2021-11-15_157_samba.yaml
Due: none

feat[portal]: search keywords for portal entries can now be defined via univention-portal update-authinfo
  management/univention-portal/frontend/src/components/PortalCategory.vue
  management/univention-portal/frontend/src/jsHelper/createCategories.ts
  management/univention-portal/frontend/src/store/modules/portalData/portalData.helper.ts
  management/univention-portal/frontend/src/store/modules/portalData/portalData.models.ts
  management/univention-portal/python/univention/portal/extensions/reloader.py
  management/univention-portal/univention-portal
Due: deb-pipeline

doc[UDL] Add priority
  doc/errata/staging/univention-directory-listener.yaml
  management/univention-directory-listener/debian/changelog
Due: deb-pipeline

doc[UDL] Document priority
  doc/developer-reference/listener/listener.xml
Due: doc-pipeline

feat[UDL] Add priority
  management/univention-directory-listener/src/handlers.c
  management/univention-directory-listener/src/handlers.h
  management/univention-directory-listener/tests/test__handlers__insert_handler.c
Due: deb-pipeline

refactor[UDL] Remove unused HANDLER_PREPARED
  management/univention-directory-listener/src/handlers.h
Due: deb-pipeline

Bug #26089: univention-directory-listener 14.0.5-4A~5.0.0.202111151258
  doc/errata/staging/univention-directory-listener.yaml
Due: none

doc[UDL] Document priority
  doc/developer-reference/listener/listener.xml
  doc/errata/staging/univention-directory-listener.yaml
Due: doc-pipeline

Bug #26089: univention-directory-listener 13.0.3-4A~4.4.0.202111151308
  doc/errata/staging/univention-directory-listener.yaml
Due: none

Bug #52762: Update README.md
  test/scenarios/kvm-templates/README.md
Due: none

Fixed logging; less dangerous "plugins"
  base/univention-group-membership-cache/conffiles/etc/logrotate.d/univention-ldap-cache
  base/univention-group-membership-cache/debian/control
  base/univention-group-membership-cache/debian/python-univention-group-membership-cache.postinst
  base/univention-group-membership-cache/debian/python-univention-group-membership-cache.univention-config-registry
  base/univention-group-membership-cache/debian/rules
  base/univention-group-membership-cache/src/univention/ldap_cache/cache/__init__.py
  base/univention-group-membership-cache/src/univention/ldap_cache/cache/backend/__init__.py
  base/univention-group-membership-cache/src/univention/ldap_cache/cache/shard_config.py
  base/univention-group-membership-cache/src/univention/ldap_cache/listener_module.py
  base/univention-group-membership-cache/src/univention/ldap_cache/log.py
  base/univention-group-membership-cache/univention-ldap-cache
Due: deb-pipeline

Remove non-essential plugins
  base/univention-group-membership-cache/src/univention/ldap_cache/cache/plugins/entry_uuid.py
  base/univention-group-membership-cache/src/univention/ldap_cache/cache/plugins/office365.py
Due: deb-pipeline

Bug #52762: update template files
  test/scenarios/kvm-templates/README.md
  test/scenarios/kvm-templates/joined-kvm-templates.cfg
  test/scenarios/kvm-templates/role-kvm-templates.cfg
  test/scenarios/kvm-templates/samba-env-kvm-templates.cfg
  test/scenarios/kvm-templates/ucs-school-singleserver-joined.cfg
  test/utils/utils.sh
Due: none

!fixup Bug #52762: update template files
  test/scenarios/kvm-templates/samba-env-kvm-templates.cfg
Due: none

Bug #52762 Update README.md
  test/scenarios/kvm-templates/README.md
Due: none

Implement users_in_group
  base/univention-group-membership-cache/debian/control
  base/univention-group-membership-cache/src/univention/ldap_cache/__init__.py
  base/univention-group-membership-cache/src/univention/ldap_cache/cache/__init__.py
  base/univention-group-membership-cache/src/univention/ldap_cache/cache/backend/__init__.py
  base/univention-group-membership-cache/src/univention/ldap_cache/cache/backend/gdbm_cache.py
  base/univention-group-membership-cache/src/univention/ldap_cache/cache/shard_config.py
Due: deb-pipeline

Path conditions:
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
