Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: doc-pipeline, deb-pipeline

.gitlab-ci.yml:

include:
  - template: 'Workflows/Branch-Pipelines.gitlab-ci.yml'
  - local: '/.gitlab-ci/base.yml'

generate-config:
  stage: build
  rules:
    - when: always
  image:
    name: $BUILD
    entrypoint: [""]
  script:
    - .gitlab-ci/build-ci
    - >
      deb-builder
      --yaml .gitlab-ci/base.yml
      --yaml .gitlab-ci/base-deb.yml
      --out generated-config-deb.yml
      --skip src:univention-kernel-image-signed
      --skip src:grub-efi-amd64-signed
      --skip src:shim
      --skip src:python-notifier
      --skip src:univention-kvm-compat
      --skip src:univention-foomatic-ppds
      */*/debian/control
  artifacts:
    paths:
      - generated-config-doc.yml
      - generated-config-deb.yml

prepare aptly:
  stage: build
  rules:
    - when: always
  image: curlimages/curl
  script:
    - "$CI_PROJECT_DIR/.gitlab-ci/aptly-create || :"
    - $CI_PROJECT_DIR/.gitlab-ci/aptly-publish
  environment:
    name: $CI_COMMIT_REF_NAME
    url: $APT/$CI_COMMIT_REF_SLUG/
    on_stop: drop aptly
    auto_stop_in: 6 month

drop aptly:
  stage: build
  variables:
    GIT_STRATEGY: none
  image: curlimages/curl
  script:
    - "curl --silent --show-error -X DELETE $APTLY/publish/$CI_COMMIT_REF_SLUG/git || :"
    - "curl --silent --show-error -X DELETE $APTLY/repos/$CI_COMMIT_REF_SLUG || :"
  rules:
    - when: manual
      allow_failure: true
  environment:
    name: $CI_COMMIT_REF_NAME
    action: stop

doc-pipeline:
  stage: test
  rules:
    - changes:
      - "doc/[^e]*/**/*"
      - "doc/e[^r]*/**/*"
      - "doc/er[^r]*/**/*"
      - "doc/err[^a]*/**/*"
      - "doc/erra[^t]*/**/*"
      - "doc/errat[^a]*/**/*"
      - "doc/errata?*/**/*"
  needs:
    - generate-config
  trigger:
    include:
      - artifact: generated-config-doc.yml
        job: generate-config
    strategy: depend

deb-pipeline:
  stage: test
  rules:
    - changes:
      - "[^dt]*/*/**/*"
      - "d[^o]*/*/**/*"
      - "do[^c]*/*/**/*"
      - "doc?*/*/**/*"
      - "t[^e]*/*/**/*"
      - "te[^s]*/*/**/*"
      - "tes[^t]*/*/**/*"
      - "test?*/*/**/*"
      - "test/generate-appliance/**/*"
      - "test/ucs-test/**/*"
      - "test/ucs-test-tools/**/*"
      - "test/univention-demo-configuration/**/*"
  needs:
    - generate-config
  trigger:
    include:
      - artifact: generated-config-deb.yml
        job: generate-config
    strategy: depend

Bug #54182: univention-group-membership-cache ANNOUNCE
  doc/errata/published/2021-12-08_170_univention-group-membership-cache.yaml
Due: none

Bug #53355: univention-directory-notifier ANNOUNCE
  doc/errata/published/2021-12-08_169_univention-directory-notifier.yaml
Due: none

Bug #53941: univention-join ANNOUNCE
  doc/errata/published/2021-12-08_171_univention-join.yaml
Due: none

Bug #54186: univention-nagios ANNOUNCE
  doc/errata/published/2021-12-08_172_univention-nagios.yaml
Due: none

Bug #54185: univention-directory-manager-modules ANNOUNCE
  doc/errata/published/2021-12-08_173_univention-directory-manager-modules.yaml
Due: none

Bug #54185: univention-ldap ANNOUNCE
  doc/errata/published/2021-12-08_174_univention-ldap.yaml
Due: none

Bug #54199: gmp ANNOUNCE
  doc/errata/published/2021-12-08_1119_gmp.yaml
Due: none

Bug #49867: univention-ad-connector ANNOUNCE
  doc/errata/published/2021-12-08_1121_univention-ad-connector.yaml
Due: none

Bug #54198: nss ANNOUNCE
  doc/errata/published/2021-12-08_1120_nss.yaml
Due: none

Bug #49291: univention-nagios ANNOUNCE
  doc/errata/published/2021-12-08_1123_univention-nagios.yaml
Due: none

Bug #53986: univention-directory-manager-rest ANNOUNCE
  doc/errata/published/2021-12-08_1122_univention-directory-manager-rest.yaml
Due: none

Bug #54212: Update links from UCS 5.0-0 to UCS 5.0-1
  .gitlab-ci/base.yml
  base/univention-l10n-fr/fr/management/univention-directory-manager-modules/modules/univention/admin/handlers/nagios/fr.po
  base/univention-l10n-fr/fr/management/univention-directory-manager-modules/modules/univention/admin/handlers/policies/fr.po
  base/univention-l10n-fr/fr/management/univention-directory-manager-modules/modules/univention/admin/handlers/shares/fr.po
  base/univention-updater/doc/code.md
  base/univention-updater/doc/layout4.md
  base/univention-updater/script/check.sh
  management/univention-appcenter/unittests/dependencies.ldif
  management/univention-appcenter/unittests/inis/dependencies/5.0/self-service-backend_20200312115710.ini
  management/univention-appcenter/unittests/inis/dependencies/5.0/self-service_20151117.ini
  management/univention-appcenter/unittests/inis/install_checks/5.0/samba-memberserver.ini
  management/univention-appcenter/unittests/inis/install_checks/5.0/self-service-backend_20200312115710.ini
  management/univention-appcenter/unittests/inis/install_checks/5.0/self-service_20151117.ini
  management/univention-appcenter/unittests/install_checks.ldif
  management/univention-directory-listener/README.md
  management/univention-ldap/debian/univention-ldap-server.univention-config-registry-variables
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/de.po
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/plugins/21_check_join_status.py
  management/univention-self-service/app/README
  management/univention-self-service/app/README_DE
  management/univention-self-service/app/README_POST_INSTALL
  management/univention-self-service/app/README_POST_INSTALL_DE
  packaging/univention-l10n/README.md
  services/univention-net-installer/debian/changelog
  test/branch-tests/run.sh
  test/utils/start-test.sh
Due: deb-pipeline

Bug #54213 up: Adapt links and components for 5.0-1
  base/univention-updater/debian/changelog
  base/univention-updater/debian/univention-updater.postinst
Due: deb-pipeline

Bug #54219 DVD: UCS-5.0-1 DVD
  base/univention-dvd/data/ucs501/amd64_netinst_udeb_include
  base/univention-dvd/data/ucs501/amd64_udeb_include
  base/univention-dvd/data/ucs501/exclude-udebs
  base/univention-dvd/data/ucs501/exclude-udebs-amd64
  base/univention-dvd/data/ucs501/grub-theme.in
  base/univention-dvd/data/ucs501/hl_c.png
  base/univention-dvd/data/ucs501/udeb_exclude
  base/univention-dvd/data/ucs501/udeb_include
  base/univention-dvd/debian/changelog
  base/univention-dvd/tasks/ucs501/empty
  base/univention-dvd/tasks/ucs501/exclude
  base/univention-dvd/tasks/ucs501/forcd1
  base/univention-dvd/tasks/ucs501/task-ucs501
  base/univention-dvd/tools/boot/ucs501/boot-amd64
  base/univention-dvd/tools/boot/ucs501/boot-x86
  base/univention-dvd/tools/boot/ucs501/common.sh
  base/univention-dvd/tools/boot/ucs501/parse_isolinux
  base/univention-dvd/tools/boot/ucs501/x86-desktop.sh
  base/univention-dvd/tools/ucs501
  base/univention-dvd/ucs501.conf
Due: deb-pipeline

doc[errata]: Fix spelling mistakes
  doc/errata/published/2021-06-02_1_univention-nagios-ad-connector.yaml
  doc/errata/published/2021-06-02_2_univention-system-setup.yaml
  doc/errata/published/2021-06-02_3_univention-web.yaml
  doc/errata/published/2021-06-09_9_univention-appcenter.yaml
  doc/errata/published/2021-06-23_21_univention-portal.yaml
  doc/errata/published/2021-06-23_23_univention-web.yaml
  doc/errata/published/2021-06-30_39_univention-mail-postfix.yaml
  doc/errata/published/2021-07-07_44_univention-saml.yaml
  doc/errata/published/2021-07-21_51_univention-appcenter.yaml
  doc/errata/published/2021-07-21_52_univention-management-console-module-diagnostic.yaml
  doc/errata/published/2021-07-21_53_univention-pkgdb.yaml
  doc/errata/published/2021-08-04_62_univention-lib.yaml
  doc/errata/published/2021-08-04_63_univention-ldap.yaml
  doc/errata/published/2021-08-04_64_univention-python.yaml
  doc/errata/published/2021-08-04_65_univention-self-service.yaml
  doc/errata/published/2021-08-25_73_univention-squid.yaml
  doc/errata/published/2021-09-01_76_univention-management-console-module-udm.yaml
  doc/errata/published/2021-09-01_77_univention-radius.yaml
  doc/errata/published/2021-09-01_78_univention-s4-connector.yaml
  doc/errata/published/2021-09-01_81_univention-saml.yaml
  doc/errata/published/2021-09-15_104_univention-management-console.yaml
  doc/errata/published/2021-09-29_106_univention-management-console.yaml
  doc/errata/published/2021-09-29_107_univention-system-setup.yaml
  doc/errata/published/2021-09-30_109_univention-directory-manager-modules.yaml
  doc/errata/published/2021-10-06_113_univention-samba.yaml
  doc/errata/published/2021-10-06_114_univention-lib.yaml
  doc/errata/published/2021-10-06_115_univention-web.yaml
  doc/errata/published/2021-10-06_116_univention-management-console.yaml
  doc/errata/published/2021-10-28_132_univention-home-mounter.yaml
  doc/errata/published/2021-11-15_156_univention-samba.yaml
  doc/errata/published/2021-11-24_159_univention-samba4.yaml
Due: none

doc[errata]: Fix spelling mistakes 2
  doc/errata/published/2021-06-02_1_univention-nagios-ad-connector.yaml
  doc/errata/published/2021-09-15_92_univention-appcenter.yaml
Due: none

doc[errata]: Fix spelling mistakes 3
  doc/errata/published/2021-09-29_107_univention-system-setup.yaml
Due: none

doc[release]: Debian 10.9 import for UCS 5.0-1
  doc/changelog/changelog-5.0-1.xml
Due: doc-pipeline

doc[release]: Debian 10.9 import for UCS 5.0-1
  doc/changelog/changelog-5.0-1.xml
  doc/changelog/release-notes-5.0-1-de.xml
  doc/changelog/release-notes-5.0-1-en.xml
Due: doc-pipeline

feat[portal]: Global Search for Univention Portal tiles/entries
  management/univention-portal/univention-portal
Due: deb-pipeline

Bug #54212: Fix small typos, started to remove cruft from 5.0-0 release notes
  doc/changelog/changelog-5.0-1.xml
  doc/changelog/release-notes-5.0-1-de.xml
  doc/changelog/release-notes-5.0-1-en.xml
Due: doc-pipeline

Bug #54215: UCS 5.0-1 release highlights
  doc/changelog/changelog-5.0-1.xml
  doc/changelog/release-notes-5.0-1-de.xml
  doc/changelog/release-notes-5.0-1-en.xml
Due: doc-pipeline

style[doc]: Reformat DocBook
  doc/changelog/changelog-5.0-1.xml
  doc/changelog/release-notes-5.0-1-de.xml
  doc/changelog/release-notes-5.0-1-en.xml
Due: doc-pipeline

fix[doc]: UCS 5.0-1 release notes
  doc/changelog/release-notes-5.0-1-de.xml
  doc/changelog/release-notes-5.0-1-en.xml
Due: doc-pipeline

Bug #54191: Fixed file permissions for /etc/machine.secret and /etc/machine.secret.SAVE
  doc/errata/staging/univention-ldap.yaml
  management/univention-join/debian/changelog
  management/univention-join/univention-join
  management/univention-ldap/10univention-ldap-server.inst
  management/univention-ldap/debian/changelog
Due: deb-pipeline

Revert "Bug #54191: Fixed file permissions for /etc/machine.secret and /etc/machine.secret.SAVE"
  doc/errata/staging/univention-ldap.yaml
  management/univention-join/debian/changelog
  management/univention-join/univention-join
  management/univention-ldap/10univention-ldap-server.inst
  management/univention-ldap/debian/changelog
Due: deb-pipeline

fixup! test[univention-translog]: XFail bugs
  test/ucs-test/tests/25_directory-notifier/01_univention_translog_tool.py
Due: deb-pipeline

Bug #54242: python-babel 2.6.0+dfsg.1-1+deb10u1
  doc/errata/staging/python-babel.yaml
Due: none

fixup! fixup! feat[portal]: support setting of further authentication information
  management/univention-portal/python/univention/portal/user.py
Due: deb-pipeline

fix[test/up]: not terminal colors on UT_VERBOSE
  test/ucs-test/tests/09_updater/pool.sh
Due: deb-pipeline

fix[test/up]: Use absolute path
  test/ucs-test/tests/09_updater/pool.sh
Due: deb-pipeline

Bug #54222: not existing /var/univention-backup dir is not an issue
  test/utils/vm-ucs-image-check
Due: none

Bug #54222: add debug
  test/utils/vm-ucs-image-check
Due: none

Bug #54220: Fix updater tests for 5.0-1
  test/ucs-test/debian/changelog
  test/ucs-test/tests/09_updater/10online
  test/ucs-test/tests/09_updater/33source
  test/ucs-test/tests/09_updater/54component-scripts-fail
  test/ucs-test/tests/09_updater/pool.sh
Due: deb-pipeline

fixup! Bug #54220: Fix updater tests for 5.0-1
  test/ucs-test/debian/changelog
  test/ucs-test/tests/09_updater/49component-version-current
  test/ucs-test/tests/09_updater/49component-version-current-dep
  test/ucs-test/tests/09_updater/55component-noncurrent
Due: deb-pipeline

Bug #54220: Set release to testing to be able to join school-replica
  test/scenarios/install-testing/school.cfg
Due: none

fixup! Bug #54220: Fix updater tests for 5.0-1
  test/ucs-test/debian/changelog
  test/ucs-test/tests/09_updater/49component-version-current-dep2
  test/ucs-test/tests/09_updater/53component-scripts
Due: deb-pipeline
