Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: doc-pipeline, deb-pipeline

doc-pipeline:
  stage: test
  needs:
  - generate-config
  trigger:
    include:
    - artifact: generated-config-doc.yml
      job: generate-config
    strategy: depend

deb-pipeline:
  stage: test
  needs:
  - generate-config
  trigger:
    include:
    - artifact: generated-config-deb.yml
      job: generate-config
    strategy: depend

Bug #53617: yaml
  doc/errata/staging/univention-management-console.yaml
  doc/errata/staging/univention-web.yaml
Due: none

Bug #53733: fixed system/setup/boot/fields|pages/blacklist
  base/univention-app-appliance/debian/changelog
  base/univention-app-appliance/usr/sbin/univention-app-appliance
Due: deb-pipeline

test[docker]: Do not pull from hub.docker.com
  test/ucs-test/debian/changelog
  test/ucs-test/tests/80_docker/11_registry_access
Due: deb-pipeline

Bug #53714: univention-management-console-module-udm ANNOUNCE
  doc/errata/published/2021-09-01_76_univention-management-console-module-udm.yaml
Due: none

Bug #53712: univention-radius ANNOUNCE
  doc/errata/published/2021-09-01_77_univention-radius.yaml
Due: none

Bug #53705: univention-s4-connector ANNOUNCE
  doc/errata/published/2021-09-01_78_univention-s4-connector.yaml
Due: none

Bug #47860: univention-updater ANNOUNCE
  doc/errata/published/2021-09-01_79_univention-updater.yaml
Due: none

Bug #53723: simplesamlphp ANNOUNCE
  doc/errata/published/2021-09-01_80_simplesamlphp.yaml
Due: none

Bug #53723: univention-saml ANNOUNCE
  doc/errata/published/2021-09-01_81_univention-saml.yaml
Due: none

Bug #53728: univention-web ANNOUNCE
  doc/errata/published/2021-09-01_82_univention-web.yaml
Due: none

Bug #51659,Bug #53728: univention-management-console ANNOUNCE
  doc/errata/published/2021-09-01_83_univention-management-console.yaml
Due: none

Bug #53716: exiv2 ANNOUNCE
  doc/errata/published/2021-09-01_1037_exiv2.yaml
Due: none

Bug #53722: postgresql-9.6 ANNOUNCE
  doc/errata/published/2021-09-01_1038_postgresql-9.6.yaml
Due: none

Bug #53715: univention-management-console-module-udm ANNOUNCE
  doc/errata/published/2021-09-01_1039_univention-management-console-module-udm.yaml
Due: none

Bug #53432: simplesamlphp ANNOUNCE
  doc/errata/published/2021-09-01_1040_simplesamlphp.yaml
Due: none

Bug #53432: univention-saml ANNOUNCE
  doc/errata/published/2021-09-01_1041_univention-saml.yaml
Due: none

Bug #53617: univention-web ANNOUNCE
  doc/errata/published/2021-09-01_1042_univention-web.yaml
Due: none

Bug #53617,Bug #53710: univention-management-console ANNOUNCE
  doc/errata/published/2021-09-01_1043_univention-management-console.yaml
Due: none

Bug #53739: adjust selenium test framework
  test/ucs-test/univention/testing/selenium/interactions.py
Due: deb-pipeline

Bug #53739: debian changelog
  test/ucs-test/debian/changelog
Due: deb-pipeline

Bug #40709: implement pytest marker for ucs-test exposure,roles,tags
  test/ucs-test/debian/ucs-test-framework.install
  test/ucs-test/tests/60_umc/conftest.py
  test/ucs-test/tests/61_udm-users/conftest.py
  test/ucs-test/tests/conftest.py
  test/ucs-test/univention/testing/conftest.py
  test/ucs-test/univention/testing/data.py
  test/ucs-test/univention/testing/pytest.py
Due: deb-pipeline

Bug #40709: call pytest with --tb=native
  test/ucs-test/univention/testing/pytest.py
Due: deb-pipeline

Bug #40709: allow ucs-test checks to extend pytest arguments
  test/ucs-test/univention/testing/data.py
Due: deb-pipeline

Bug #40709: changelog entries
  test/ucs-test/debian/changelog
Due: deb-pipeline

Bug #40709: temporarily deactivate feature as Pytest v3 does not have _pytest.main.Node.iter_markers
  test/ucs-test/debian/changelog
  test/ucs-test/univention/testing/conftest.py
Due: deb-pipeline

Bug #46467: fixed docker image in 20_appcenter/100_settings.py
  test/ucs-test/debian/changelog
  test/ucs-test/tests/20_appcenter/100_settings.py
Due: deb-pipeline

Bug #53745: qemu 1:2.8+dfsg-6+deb9u15A~4.4.8.202109060928
  doc/errata/staging/qemu.yaml
Due: none

Bug #50648: fix typo
  doc/developer-reference/udm/udm.xml
Due: doc-pipeline

Bug #53278, #53748, #53564, #53749, #53750, #53721, #53752: ignore more tracebacks
  test/ucs-test/tests/99_end/grep_traceback.py
Due: deb-pipeline

fixup! Bug #40709: call pytest with --tb=native
  test/ucs-test/tests/00_checks/conftest.py
Due: deb-pipeline

Bug #53711: resync samba-shares handler
  base/univention-updater/script/postup.sh
Due: deb-pipeline

Bug #53665: adjust buttonrow in forms
  management/univention-web/css/site/inputsizes.styl
  management/univention-web/css/widgets/Page.styl
  management/univention-web/js/render.js
  management/univention-web/js/widgets/ConfirmDialog.js
  management/univention-web/js/widgets/Dialog.js
Due: deb-pipeline

Bug #53665: debian changelog
  base/univention-quota/debian/changelog
  base/univention-system-setup/debian/changelog
  base/univention-updater/debian/changelog
  management/univention-appcenter/debian/changelog
  management/univention-management-console-module-services/debian/changelog
  management/univention-management-console-module-top/debian/changelog
  management/univention-management-console-module-ucr/debian/changelog
  management/univention-management-console-module-udm/debian/changelog
  management/univention-web/debian/changelog
  services/univention-admin-diary/debian/changelog
  services/univention-pkgdb/debian/changelog
  services/univention-printserver/debian/changelog
  test/ucs-test/debian/changelog
Due: deb-pipeline

Bug #53665: cleanup ProgressBar
  management/univention-web/js/widgets/ProgressBar.js
Due: deb-pipeline

Bug #53665: move StandbyMixIn to base Dialog widget
  management/univention-web/js/widgets/ConfirmDialog.js
  management/univention-web/js/widgets/Dialog.js
Due: deb-pipeline

Path conditions:
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
