Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: doc-pipeline, deb-pipeline

.gitlab-ci.yml:

include:
  - template: 'Workflows/Branch-Pipelines.gitlab-ci.yml'
  - local: '/.gitlab-ci/base.yml'

generate-config:
  stage: build
  rules:
    - when: always
  image:
    name: $BUILD
    entrypoint: [""]
  script:
    - .gitlab-ci/build-ci
    - >
      deb-builder
      --yaml .gitlab-ci/base.yml
      --yaml .gitlab-ci/base-deb.yml
      --out generated-config-deb.yml
      --skip src:univention-kernel-image-signed
      --skip src:grub-efi-amd64-signed
      --skip src:shim
      --skip src:python-notifier
      --skip src:univention-kvm-compat
      --skip src:univention-foomatic-ppds
      */*/debian/control
  artifacts:
    paths:
      - generated-config-doc.yml
      - generated-config-deb.yml

prepare aptly:
  stage: build
  rules:
    - when: always
  image: curlimages/curl
  script:
    - "$CI_PROJECT_DIR/.gitlab-ci/aptly-create || :"
    - $CI_PROJECT_DIR/.gitlab-ci/aptly-publish
  environment:
    name: $CI_COMMIT_REF_NAME
    url: $APT/$CI_COMMIT_REF_SLUG/
    on_stop: drop aptly
    auto_stop_in: 6 month

drop aptly:
  stage: build
  variables:
    GIT_STRATEGY: none
  image: curlimages/curl
  script:
    - "curl --silent --show-error -X DELETE $APTLY/publish/$CI_COMMIT_REF_SLUG/git || :"
    - "curl --silent --show-error -X DELETE $APTLY/repos/$CI_COMMIT_REF_SLUG || :"
  rules:
    - when: manual
      allow_failure: true
  environment:
    name: $CI_COMMIT_REF_NAME
    action: stop

doc-pipeline:
  stage: test
  rules:
    - changes:
      - "doc/[^e]*/**/*"
      - "doc/e[^r]*/**/*"
      - "doc/er[^r]*/**/*"
      - "doc/err[^a]*/**/*"
      - "doc/erra[^t]*/**/*"
      - "doc/errat[^a]*/**/*"
      - "doc/errata?*/**/*"
  needs:
    - generate-config
  trigger:
    include:
      - artifact: generated-config-doc.yml
        job: generate-config
    strategy: depend

deb-pipeline:
  stage: test
  rules:
    - changes:
      - "[^dt]*/*/**/*"
      - "d[^o]*/*/**/*"
      - "do[^c]*/*/**/*"
      - "doc?*/*/**/*"
      - "t[^e]*/*/**/*"
      - "te[^s]*/*/**/*"
      - "tes[^t]*/*/**/*"
      - "test?*/*/**/*"
      - "test/generate-appliance/**/*"
      - "test/ucs-test/**/*"
      - "test/ucs-test-tools/**/*"
      - "test/univention-demo-configuration/**/*"
  needs:
    - generate-config
  trigger:
    include:
      - artifact: generated-config-deb.yml
        job: generate-config
    strategy: depend

Bug #50631: migrate tests to python3
  test/ucs-test/tests/01_base/00_univention-license-check
  test/ucs-test/tests/01_base/01_ignore_disabled_users_in_license_count
  test/ucs-test/tests/01_base/01_ignore_synced_clients_in_license_count
  test/ucs-test/tests/01_base/01_ignore_synced_users_in_license_count
  test/ucs-test/tests/01_base/26check_admin_user
  test/ucs-test/tests/01_base/45udm-cli
  test/ucs-test/tests/10_ldap/24uldap
  test/ucs-test/tests/10_ldap/26reconnect_univention_ldapsearch
  test/ucs-test/tests/10_ldap/27reconnect_uldap_2
  test/ucs-test/tests/10_ldap/41listener_module_api_test
  test/ucs-test/tests/40_mail/30_imap_server_with_hundreds_of_connections
Due: deb-pipeline

fixup! fix[ucstest/licence]: Convert to Python 3
  test/ucs-test/univention/testing/license_client.py
Due: deb-pipeline

Bug #52878: qa remarks
  management/univention-directory-manager-modules/debian/changelog
  management/univention-directory-manager-modules/modules/univention/admin/__init__.py
  test/ucs-test/debian/changelog
  test/ucs-test/debian/control
  test/ucs-test/tests/71_udm-settings/11_use_usertemplate_umlauts
Due: deb-pipeline

Bug #52878: advisory update
  doc/errata/staging/univention-directory-manager-modules.yaml
Due: none

Bug #52957: removed univention-nagios packages from check.sh
  base/univention-updater/debian/changelog
  base/univention-updater/script/check.sh
Due: deb-pipeline

fix(cli-server): return error when --appending invalid value
  management/univention-directory-manager-modules/modules/univention/admincli/admin.py
Due: deb-pipeline

fix[up]: Rename to ucs-releases.json
  base/univention-updater/modules/univention/updater/tools.py
  base/univention-updater/tests/mockups.py
  base/univention-updater/tests/test_updater.py
  test/ucs-test/tests/09_updater/create_releases_json.py
Due: deb-pipeline

fix[up]: Rename to ucs-releases.json
  base/univention-updater/debian/changelog
  test/ucs-test/debian/changelog
Due: deb-pipeline

Bug #50300: fix execution of 03_dc_master_tracebacks.py
  test/ucs-test/tests/99_end/01_var_log_tracebacks
  test/ucs-test/tests/99_end/02_var_log_tracebacks_gz
  test/ucs-test/tests/99_end/03_dc_master_tracebacks.py
Due: deb-pipeline

Bug #53228: univention-updater 14.0.3-12A~4.4.0.202105061239
  doc/errata/staging/univention-updater.yaml
Due: none

feat[updater]: Improve exception handling
  base/univention-updater/umc/python/updater/__init__.py
Due: deb-pipeline

style[updater]: Remove dead code
  base/univention-updater/umc/python/updater/__init__.py
Due: deb-pipeline

fix[up]: Rename to ucs-releases.json
  base/univention-updater/modules/univention/updater/mirror.py
  base/univention-updater/modules/univention/updater/tools.py
  base/univention-updater/tests/mockups.py
  base/univention-updater/tests/test_mirror.py
  test/ucs-test/tests/09_updater/79mirror-clean
  test/ucs-test/tests/09_updater/create_releases_json.py
  test/ucs-test/tests/09_updater/pool.sh
Due: deb-pipeline

style[updater]: Remove duplicate exception
  base/univention-updater/umc/python/updater/__init__.py
Due: deb-pipeline

fix[updater]: Handle non-blocking components
  base/univention-updater/debian/changelog
  base/univention-updater/umc/python/updater/__init__.py
Due: deb-pipeline

Bug #53212: Add hint about Samba TDB size limit to changelog
  doc/changelog/changelog-5.0-0.xml
Due: doc-pipeline

Bug #53069: Note in UCS-5 changelog
  doc/changelog/changelog-5.0-0.xml
Due: doc-pipeline

fix[updater]: Re-add enabling apache2.service
  base/univention-updater/script/enable-apache2-umc
Due: deb-pipeline

Bug #52878: change bugnumber in test
  test/ucs-test/tests/71_udm-settings/11_use_usertemplate_umlauts
Due: deb-pipeline

Bug #53209: univention-updater: Fix join script handling (univention-join debhelper)
  base/univention-updater/debian/changelog
  base/univention-updater/debian/univention-updater.postinst
Due: deb-pipeline

Bug #Bug #52122: Remove Nagios Server from the Scenarios
  doc/scenarios/versicherung-de.xml
Due: doc-pipeline

Bug #53209: univention-server-overview: Fix join script handling (univention-join debhelper)
  management/univention-server-overview/debian/changelog
  management/univention-server-overview/debian/control
  management/univention-server-overview/debian/rules
Due: deb-pipeline

style[udm]: Use set/list comprehension
  management/univention-directory-manager-modules/modules/univention/admin/handlers/__init__.py
  management/univention-directory-manager-modules/modules/univention/admin/modules.py
Due: deb-pipeline

refactor[udm]: Re-use UCR.is_true()
  management/univention-directory-manager-modules/modules/univention/admin/__init__.py
Due: deb-pipeline

fix[udm]: Raise exception on missing identify
  management/univention-directory-manager-modules/modules/univention/admin/handlers/__init__.py
Due: deb-pipeline

fix[udm]: Check for module is None
  management/univention-directory-manager-modules/modules/univention/admin/modules.py
Due: deb-pipeline

perf[udm]: Drop useless dict.key()
  management/univention-directory-manager-modules/modules/univention/admin/handlers/__init__.py
Due: deb-pipeline

style[udm]: Use {...} instead of set(...)
  management/univention-directory-manager-modules/modules/univention/admin/handlers/__init__.py
Due: deb-pipeline

style[udm]: Remove useless global statements
  management/univention-directory-manager-modules/modules/univention/admin/modules.py
Due: deb-pipeline

fix[udm]: Explicitly return None for PEP 484
  management/univention-directory-manager-modules/modules/univention/admin/modules.py
Due: deb-pipeline

Bug #52878: fix umlauts in patterns
  management/univention-directory-manager-modules/debian/changelog
  management/univention-directory-manager-modules/debian/control
  management/univention-directory-manager-modules/modules/univention/admin/__init__.py
  test/ucs-test/debian/control
  test/ucs-test/tests/71_udm-settings/11_use_usertemplate_umlauts
Due: deb-pipeline

fix[kvm]: Remove all old network configuration
  test/utils/base_appliance.sh
Due: none

cleanup[kvm]: Remove old secure_apt code
  test/utils/base_appliance.sh
Due: none

fix[kvm]: Disable network restart
  test/utils/base_appliance.sh
Due: none

Bug #53188: added screenshots for manual dir
  doc/manual/illustrations44/admindiary-detail_de.png
  doc/manual/illustrations44/admindiary-detail_en.png
  doc/manual/illustrations44/computers_computer_advanced_de.png
  doc/manual/illustrations44/computers_computer_advanced_en.png
  doc/manual/illustrations44/computers_computer_de.png
  doc/manual/illustrations44/computers_computer_en.png
  doc/manual/illustrations44/computers_grub.png
  doc/manual/illustrations44/computers_network_de.png
  doc/manual/illustrations44/computers_network_en.png
  doc/manual/illustrations44/computers_policy_nfsshare_de.png
  doc/manual/illustrations44/computers_policy_nfsshare_en.png
  doc/manual/illustrations44/computers_timezone_de.png
  doc/manual/illustrations44/computers_timezone_en.png
  doc/manual/illustrations44/create-group_DE.png
  doc/manual/illustrations44/create-group_EN.png
  doc/manual/illustrations44/create-network_DE.png
  doc/manual/illustrations44/create-network_EN.png
  doc/manual/illustrations44/create_printershare_de.png
  doc/manual/illustrations44/create_printershare_en.png
  doc/manual/illustrations44/forward-lookup-zone_DE.png
  doc/manual/illustrations44/forward-lookup-zone_EN.png
  doc/manual/illustrations44/installer-domainrole_de.png
  doc/manual/illustrations44/installer-domainrole_en.png
  doc/manual/illustrations44/installer-hostname_de.png
  doc/manual/illustrations44/installer-hostname_en.png
  doc/manual/illustrations44/installer-isolinux.png
  doc/manual/illustrations44/installer-join_de.png
  doc/manual/illustrations44/installer-join_en.png
  doc/manual/illustrations44/installer-overview_de.png
  doc/manual/illustrations44/installer-overview_en.png
  doc/manual/illustrations44/mail_mailinglist_de.png
  doc/manual/illustrations44/mail_mailinglist_en.png
  doc/manual/illustrations44/quota-overview-de.png
  doc/manual/illustrations44/quota-overview-en.png
  doc/manual/illustrations44/radius-group-allow-network_DE.png
  doc/manual/illustrations44/radius-group-allow-network_EN.png
  doc/manual/illustrations44/software_softwaremonitor_de.png
  doc/manual/illustrations44/software_softwaremonitor_en.png
  doc/manual/illustrations44/umc_navigation_de.png
  doc/manual/illustrations44/umc_navigation_en.png
Due: doc-pipeline

Bug #52957: added changelog entry
  doc/changelog/changelog-5.0-0.xml
Due: doc-pipeline

Bug #53209: univention-self-service: Fix join script handling (univention-join debhelper)
  management/univention-self-service/35univention-self-service-master.inst
  management/univention-self-service/debian/changelog
  management/univention-self-service/debian/control
  management/univention-self-service/debian/rules
  management/univention-self-service/debian/univention-self-service-master.install
  management/univention-self-service/debian/univention-self-service-master.postinst
  management/univention-self-service/debian/univention-self-service-passwordreset-umc.install
  management/univention-self-service/debian/univention-self-service-passwordreset-umc.postinst
  management/univention-self-service/debian/univention-self-service-passwordreset-umc.postrm
  management/univention-self-service/debian/univention-self-service-passwordreset-umc.prerm
  management/univention-self-service/debian/univention-self-service-passwordreset-umc.univention-config-registry-variables
  management/univention-self-service/debian/univention-self-service.install
  management/univention-self-service/debian/univention-self-service.postinst
  management/univention-self-service/debian/univention-self-service.postrm
  management/univention-self-service/debian/univention-self-service.prerm
  management/univention-self-service/debian/univention-self-service.univention-config-registry-variables
Due: deb-pipeline

Bug #52869: New UDM return value for links
  test/ucs-test/debian/changelog
  test/ucs-test/tests/86_selenium/185_portal_administration_inline_creation
Due: deb-pipeline

Bug #53209: univention-saml: Fix join script handling (univention-join debhelper)
  saml/univention-saml/debian/changelog
  saml/univention-saml/debian/control
  saml/univention-saml/debian/rules
  saml/univention-saml/debian/univention-saml.install
  saml/univention-saml/debian/univention-saml.postinst
  saml/univention-saml/debian/univention-saml.postrm
  saml/univention-saml/debian/univention-saml.prerm
Due: deb-pipeline
