Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: doc-pipeline, deb-pipeline

doc-pipeline:
  stage: test
  needs:
  - generate-config
  trigger:
    include:
    - artifact: generated-config-doc.yml
      job: generate-config
    strategy: depend

deb-pipeline:
  stage: test
  needs:
  - generate-config
  trigger:
    include:
    - artifact: generated-config-deb.yml
      job: generate-config
    strategy: depend

Bug #51328: added changelog entry for univention-server-overview python migration
  doc/changelog/changelog-5.0-0.xml
Due: doc-pipeline

Bug #52923: redirect stdout+stderr to logfile
  base/univention-updater/script/postup.sh
  base/univention-updater/script/preup.sh
Due: deb-pipeline

Bug #52974: disable libvirtd during update to prevent aborting update
  base/univention-updater/script/postup.sh
  base/univention-updater/script/preup.sh
Due: deb-pipeline

Bug #52974: add changelog entry
  doc/changelog/changelog-5.0-0.xml
Due: doc-pipeline

Bug #52974: bump version
  base/univention-updater/debian/changelog
Due: deb-pipeline

Bug #50648 UDM users/user: fix unmapping automountInformation
  management/univention-directory-manager-modules/modules/univention/admin/handlers/users/user.py
Due: deb-pipeline

Bug #50648: more Python 3 compatibility for 100_test_users.py
  test/ucs-test/tests/61_udm-users/100_test_users.py
Due: deb-pipeline

refactor[docker]: Remove /etc/default/docker
  container/univention-docker/conffiles/etc/default/docker
  container/univention-docker/debian/changelog
  container/univention-docker/debian/univention-docker.maintscript
  container/univention-docker/debian/univention-docker.univention-config-registry
Due: deb-pipeline

fix[net]: Move UCR setting to DHCP script
  base/univention-network-manager/debian/control
  base/univention-network-manager/debian/univention-network-common.maintscript
  base/univention-network-manager/etc/dhcp/dhclient-exit-hooks.d/zz_ucr
  base/univention-network-manager/etc/network/if-up.d/12_univention_config_registry
  base/univention-network-manager/etc/network/if-up.d/90_dns_update
Due: deb-pipeline

style[net]: Convert to UCR default values
  base/univention-network-manager/debian/univention-network-common.postinst
  base/univention-network-manager/debian/univention-network-common.univention-config-registry-variables
Due: deb-pipeline

refactor[docker]: Describe UCR variables
  container/univention-docker/debian/univention-docker.postinst
  container/univention-docker/debian/univention-docker.univention-config-registry-variables
Due: deb-pipeline

fix[net]: Install systemd service
  base/univention-network-manager/debian/changelog
  base/univention-network-manager/debian/rules
Due: deb-pipeline

fix[net]: Depend on apache2.service
  base/univention-network-manager/debian/univention-network-common.service
Due: deb-pipeline

refactor[server]: PEP 484 improvements
  base/univention-server/univention-fix-ucr-dns
Due: deb-pipeline

fix[net]: Remove if-up.d/00_resolvconf
  base/univention-network-manager/debian/univention-network-common.maintscript
  base/univention-network-manager/etc/network/if-up.d/00_resolvconf
Due: deb-pipeline

style[net]: Update dhclient.conf template
  base/univention-network-manager/conffiles/etc/dhcp/dhclient.conf
Due: deb-pipeline

fix[docker]: Replace localhost DNS
  container/univention-docker/conffiles/etc/docker/daemon.json
  container/univention-docker/debian/control
  container/univention-docker/debian/univention-docker.univention-config-registry
Due: deb-pipeline

fix[server]: Use localhost for resolving
  base/univention-server/univention-fix-ucr-dns
Due: deb-pipeline

doc[net]: Convert table markdown
  base/univention-network-manager/README.md
Due: deb-pipeline

refactor[net]: Improve code quality
  base/univention-network-manager/debian/control
  base/univention-network-manager/univention-register-network-address
Due: deb-pipeline

fixup! Bug #46445: support compressed printer drivers
  services/univention-printserver/ppds.py
Due: deb-pipeline

fixup! fixup! Bug #52043: replace UCR filter based mapping with a real python module
  services/univention-s4-connector/debian/univention-s4-connector.dirs
Due: deb-pipeline

Bug #37720: touch all HTML/JS/CSS files in postinst via umc_frontend_new_hash
  base/univention-lib/shell/umc.sh
Due: deb-pipeline

Bug #37720: replace Expire-caching with Cache-Control "must-revalidate, max-age=..."
  management/univention-web/conffiles/etc/apache2/conf-available/univention-web.conf
Due: deb-pipeline

doc[[Pytkota]: Changelog
  doc/changelog/changelog-5.0-0.xml
Due: doc-pipeline

Bug #51328: changed location of python migration changelog entry
  doc/changelog/changelog-5.0-0.xml
Due: doc-pipeline

Bug #52881: changes for UCS 5.0-0
  test/utils/installation_test/languages/german.py
Due: none

Bug #52953: fixed click_tile in selenium interactions
  test/ucs-test/debian/changelog
  test/ucs-test/univention/testing/selenium/interactions.py
Due: deb-pipeline

Bug #49898: Update version number
  doc/changelog/changelog-5.0-0.xml
Due: doc-pipeline

Bug #52941: Styling for UMC modules
  management/univention-portal/debian/changelog
  management/univention-portal/frontend/public/i18n/de.json
  management/univention-portal/frontend/src/App.vue
  management/univention-portal/frontend/src/assets/data/popmenuCategories.json
  management/univention-portal/frontend/src/assets/styles/_base.styl
  management/univention-portal/frontend/src/assets/styles/_vars.styl
  management/univention-portal/frontend/src/components/PortalCategory.vue
  management/univention-portal/frontend/src/components/PortalFolder.vue
  management/univention-portal/frontend/src/components/PortalHeader.vue
  management/univention-portal/frontend/src/components/PortalModal.vue
  management/univention-portal/frontend/src/components/PortalSidebar.vue
  management/univention-portal/frontend/src/components/PortalTile.vue
  management/univention-portal/frontend/src/components/PortalToolTip.vue
  management/univention-portal/frontend/src/components/admin/ModalAdmin.vue
  management/univention-portal/frontend/src/components/admin/TileAdd.vue
  management/univention-portal/frontend/src/components/admin/forms/FormCategoryAddExisting.vue
  management/univention-portal/frontend/src/components/admin/forms/FormCategoryAddNew.vue
  management/univention-portal/frontend/src/components/forms/ChangePassword.vue
  management/univention-portal/frontend/src/components/globals/CookieBanner.vue
  management/univention-portal/frontend/src/components/globals/LoadingOverlay.vue
  management/univention-portal/frontend/src/components/globals/ModalWrapper.vue
  management/univention-portal/frontend/src/components/globals/NotificationBubbleSlot.vue
  management/univention-portal/frontend/src/components/globals/PortalIcon.vue
  management/univention-portal/frontend/src/components/navigation/FlyoutWrapper.vue
  management/univention-portal/frontend/src/components/navigation/HeaderTab.vue
  management/univention-portal/frontend/src/components/navigation/SideNavigation.vue
  management/univention-portal/frontend/src/components/search/PortalSearch.vue
  management/univention-portal/frontend/src/jsHelper/createUserMenu.ts
  management/univention-portal/frontend/src/jsHelper/moveContent.js
  management/univention-portal/frontend/src/jsHelper/tools.ts
  management/univention-portal/frontend/src/mixins/notificationMixin.vue
  management/univention-portal/frontend/src/store/index.ts
  management/univention-portal/frontend/src/store/models.ts
  management/univention-portal/frontend/src/store/modules/modal.ts
  management/univention-portal/frontend/src/store/modules/navigation.ts
  management/univention-portal/frontend/src/store/types.ts
  management/univention-portal/frontend/src/views/Portal.vue
  management/univention-portal/python/univention/portal/extensions/portal.py
Due: deb-pipeline

fixup! Bug #51530: update printer driver list
  services/univention-printserver/79univention-printserver-pdf.inst
Due: deb-pipeline

Bug #52953: fixed changelog entries
  test/ucs-test/debian/changelog
Due: deb-pipeline

Bug #50648: Catch univention.password.CheckFailed in check_cracklib.py
  base/univention-heimdal/conffiles/usr/share/univention-heimdal/check_cracklib.py
  base/univention-heimdal/debian/changelog
Due: deb-pipeline

fix[dvd]: Re-add Nagios checks to DVD
  base/univention-dvd/debian/changelog
  base/univention-dvd/tasks/ucs500/task-ucs500
Due: deb-pipeline

Bug #52991: Remove univention-nagios-raid
  doc/changelog/changelog-5.0-0.xml
  doc/manual/nagios-de.xml
  doc/manual/nagios-en.xml
  nagios/univention-nagios-raid/31univention-nagios-raid.inst
  nagios/univention-nagios-raid/conffiles/etc/nagios-plugins/config/univention-raid.cfg
  nagios/univention-nagios-raid/debian/changelog
  nagios/univention-nagios-raid/debian/compat
  nagios/univention-nagios-raid/debian/control
  nagios/univention-nagios-raid/debian/copyright
  nagios/univention-nagios-raid/debian/rules
  nagios/univention-nagios-raid/debian/univention-nagios-raid.install
  nagios/univention-nagios-raid/debian/univention-nagios-raid.postinst
  nagios/univention-nagios-raid/debian/univention-nagios-raid.univention-config-registry
  nagios/univention-nagios-raid/test.txt
Due: doc-pipeline, deb-pipeline

Bug #52992: Remove univention-nagios-smart
  doc/changelog/changelog-5.0-0.xml
  doc/manual/nagios-de.xml
  doc/manual/nagios-en.xml
  nagios/univention-nagios-smart/31univention-nagios-smart.inst
  nagios/univention-nagios-smart/Makefile
  nagios/univention-nagios-smart/check_smart.pl
  nagios/univention-nagios-smart/check_smart_suidwrapper.c
  nagios/univention-nagios-smart/conffiles/etc/nagios-plugins/config/univention-smart.cfg
  nagios/univention-nagios-smart/debian/changelog
  nagios/univention-nagios-smart/debian/compat
  nagios/univention-nagios-smart/debian/control
  nagios/univention-nagios-smart/debian/copyright
  nagios/univention-nagios-smart/debian/rules
  nagios/univention-nagios-smart/debian/ucslint.overrides
  nagios/univention-nagios-smart/debian/univention-nagios-smart.install
  nagios/univention-nagios-smart/debian/univention-nagios-smart.postinst
  nagios/univention-nagios-smart/debian/univention-nagios-smart.univention-config-registry
Due: doc-pipeline, deb-pipeline

Bug #52993: update initramfs after removing init script
  base/univention-initrd/debian/changelog
  base/univention-initrd/debian/univention-initrd.postinst
Due: deb-pipeline

Bug #52941: Remove Apps category
  management/univention-portal/debian/changelog
  management/univention-portal/frontend/src/assets/styles/_base.styl
  management/univention-portal/frontend/src/components/PortalFolder.vue
  management/univention-portal/frontend/src/components/forms/ChangePassword.vue
  management/univention-portal/frontend/src/components/navigation/SideNavigation.vue
  management/univention-portal/python/univention/portal/extensions/portal.py
Due: deb-pipeline

Bug #52941: Category colors
  management/univention-management-console/data/categories/default.xml
  management/univention-management-console/debian/changelog
Due: deb-pipeline

Bug #52198: Fix translation of pwquality error messages
  management/univention-management-console/debian/changelog
  management/univention-management-console/src/univention/management/console/pam.py
Due: deb-pipeline

Path conditions:
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
