Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: doc-pipeline, deb-pipeline

.gitlab-ci.yml:

include:
  - template: 'Workflows/Branch-Pipelines.gitlab-ci.yml'
  - local: '/.gitlab-ci/base.yml'

generate-config:
  stage: build
  rules:
    - when: always
  image:
    name: $BUILD
    entrypoint: [""]
  script:
    - .gitlab-ci/build-ci
    - >
      deb-builder
      --yaml .gitlab-ci/base.yml
      --yaml .gitlab-ci/base-deb.yml
      --out generated-config-deb.yml
      --skip src:univention-kernel-image-signed
      --skip src:grub-efi-amd64-signed
      --skip src:shim
      --skip src:python-notifier
      --skip src:univention-kvm-compat
      --skip src:univention-foomatic-ppds
      */*/debian/control
  artifacts:
    paths:
      - generated-config-doc.yml
      - generated-config-deb.yml

prepare aptly:
  stage: build
  rules:
    - when: always
  image: curlimages/curl
  script:
    - "$CI_PROJECT_DIR/.gitlab-ci/aptly-create || :"
    - $CI_PROJECT_DIR/.gitlab-ci/aptly-publish
  environment:
    name: $CI_COMMIT_REF_NAME
    url: $APT/$CI_COMMIT_REF_SLUG/
    on_stop: drop aptly
    auto_stop_in: 6 month

drop aptly:
  stage: build
  variables:
    GIT_STRATEGY: none
  image: curlimages/curl
  script:
    - "curl --silent --show-error -X DELETE $APTLY/publish/$CI_COMMIT_REF_SLUG/git || :"
    - "curl --silent --show-error -X DELETE $APTLY/repos/$CI_COMMIT_REF_SLUG || :"
  rules:
    - when: manual
      allow_failure: true
  environment:
    name: $CI_COMMIT_REF_NAME
    action: stop

doc-pipeline:
  stage: test
  rules:
    - changes:
      - "doc/[^e]*/**/*"
      - "doc/e[^r]*/**/*"
      - "doc/er[^r]*/**/*"
      - "doc/err[^a]*/**/*"
      - "doc/erra[^t]*/**/*"
      - "doc/errat[^a]*/**/*"
      - "doc/errata?*/**/*"
  needs:
    - generate-config
  trigger:
    include:
      - artifact: generated-config-doc.yml
        job: generate-config
    strategy: depend

deb-pipeline:
  stage: test
  rules:
    - changes:
      - "[^dt]*/*/**/*"
      - "d[^o]*/*/**/*"
      - "do[^c]*/*/**/*"
      - "doc?*/*/**/*"
      - "t[^e]*/*/**/*"
      - "te[^s]*/*/**/*"
      - "tes[^t]*/*/**/*"
      - "test?*/*/**/*"
      - "test/generate-appliance/**/*"
      - "test/ucs-test/**/*"
      - "test/ucs-test-tools/**/*"
      - "test/univention-demo-configuration/**/*"
  needs:
    - generate-config
  trigger:
    include:
      - artifact: generated-config-deb.yml
        job: generate-config
    strategy: depend

Bug #52771: 20_appcenter/90_update_check
  test/ucs-test/debian/changelog
  test/ucs-test/tests/20_appcenter/90_update_check
Due: deb-pipeline

Bug #52799: fixed typo - changed "git checkout" to "git clone"
  doc/developer-reference/packaging/packaging.xml
Due: doc-pipeline

Bug #52762: new ec2 qemu name
  test/utils/base_appliance_local.sh
Due: none

Bug #52771: check apps before release update
  base/univention-updater/debian/changelog
  base/univention-updater/umc/python/updater/__init__.py
  base/univention-updater/umc/python/updater/de.po
Due: deb-pipeline

Bug #52771: yaml
  doc/errata/staging/univention-updater.yaml
Due: none

Bug #52700: new ami id
  test/utils/start-test.sh
Due: none

Bug #51316 up: Generate stable output
  base/univention-updater/conffiles/etc/apt/sources.list.d/20_ucs-online-component.list
  base/univention-updater/debian/changelog
  base/univention-updater/modules/univention/updater/tools.py
  base/univention-updater/tests/test_updater.py
Due: deb-pipeline

Bug #52555: Remove git submodule ucs-ec2-tools
  .gitmodules
  test/branch-tests/run.sh
  test/utils/start-test.sh
Due: none

Bug #51865: changelog entry
  doc/changelog/release-notes-5.0-0-de.xml
  doc/changelog/release-notes-5.0-0-en.xml
Due: doc-pipeline

Bug #52798: Update bootscreen to new design
  base/univention-grub/conffiles/etc/default/grub
  base/univention-grub/debian/changelog
  base/univention-grub/debian/univention-grub.install
  base/univention-grub/debian/univention-grub.postinst
  base/univention-grub/debian/univention-grub.univention-config-registry
  base/univention-grub/etc/grud.d/45_univention
  base/univention-grub/usr/share/univention-grub/dark-background.png
  base/univention-grub/usr/share/univention-grub/light-background.png
  base/univention-grub/usr/share/univention-grub/uniboot.png
Due: deb-pipeline

Bug #52797, #52797: changelog
  doc/changelog/changelog-5.0-0.xml
Due: doc-pipeline

Bug #52797: add missing copyright notice
  base/univention-bootsplash/sprites/create_animation.py
Due: deb-pipeline

Bug #51316 up: Change NotImplemented{Error() -> }
  base/univention-updater/debian/changelog
  base/univention-updater/modules/univention/updater/tools.py
  base/univention-updater/tests/test_updater.py
Due: deb-pipeline

fixup! Bug #51865: changelog entry
  doc/changelog/release-notes-5.0-0-en.xml
Due: doc-pipeline

fixup! Bug #34003: fix performance of 25univention-ldap-server_local-schema
  doc/changelog/changelog-5.0-0.xml
Due: doc-pipeline

Issue #56 GitLab: Add review for documentation
  .gitlab-ci/base-doc.yml
Due: none

Bug #52762: Add .cfg for weekly KVM image
  test/scenarios/appliances/generic-kvm-updated.cfg
Due: none

Issue #56 GitLab: auto stop review
  .gitlab-ci/base-doc.yml
Due: none

Bug #52797: fix translations
  base/univention-bootsplash/debian/univention-bootsplash.install
  base/univention-bootsplash/debian/univention-bootsplash.univention-l10n
  base/univention-bootsplash/debian/univention-welcome-screen.univention-l10n
  base/univention-bootsplash/i18n/univention-bootsplash/de.po
  base/univention-bootsplash/i18n/univention-welcome-screen/de.po
  base/univention-bootsplash/systemd/20set_shutdown_status.conf
  base/univention-bootsplash/systemd/20set_start_status.conf
  base/univention-bootsplash/ucs/set-translated-status-text.sh
  base/univention-bootsplash/ucs/ucs.script
  base/univention-bootsplash/univention-welcome-screen
Due: deb-pipeline

Bug #52797: fix backgroundcolor
  base/univention-bootsplash/ucs-light/ucs-light.plymouth
  base/univention-bootsplash/ucs/ucs.plymouth
  base/univention-bootsplash/ucs/ucs.script
Due: deb-pipeline

Bug #52792: Dummy UMC portal
  management/univention-portal/conffiles/etc/apache2/ucs-sites.conf.d/univention-portal.conf
  management/univention-portal/debian/univention-portal.univention-config-registry-variables
  management/univention-portal/python/univention/portal/extensions/portal.py
  management/univention-portal/python/univention/portal/extensions/scorer.py
  management/univention-portal/univention-portal
  management/univention-portal/univention-portal-server
Due: deb-pipeline

Bug #50648: UDM: lower debug level of release_lock()
  management/univention-directory-manager-modules/modules/univention/admin/handlers/__init__.py
Due: deb-pipeline

Bug #52792: Typos
  management/univention-portal/python/univention/portal/extensions/portal.py
Due: deb-pipeline

Bug #52798: fix bug number in changelog entry
  doc/changelog/changelog-5.0-0.xml
Due: doc-pipeline

Bug #52797: add missing copyright notice
  base/univention-bootsplash/ucs/set-translated-status-text.sh
Due: deb-pipeline

Bug #49898: Adjust test case to Samba 4.13
  test/ucs-test/debian/changelog
  test/ucs-test/tests/55_adconnector/050sync_password_sync
Due: deb-pipeline

Bug #52453: dialog styling
  management/univention-web/css/Dialog.styl
Due: deb-pipeline

Bug #52453: adjust styling for adconnector/adtakeover module
  management/univention-management-console-module-adtakeover/umc/js/adtakeover.js
  management/univention-web/css/Dialog.styl
  management/univention-web/css/site/module.styl
  services/univention-ad-connector/umc/js/adconnector.js
  services/univention-ad-connector/umc/js/adconnector/ConfigPage.js
Due: deb-pipeline

Bug #52453: adjust styling for AppDetailsPage
  management/univention-appcenter/umc/js/appcenter.styl
  management/univention-appcenter/umc/js/appcenter/AppDetailsPage.js
Due: deb-pipeline

Bug #52453: adjust styling of 'Software update' module
  base/univention-updater/umc/js/updater.css
  base/univention-updater/umc/js/updater.js
  base/univention-updater/umc/js/updater/ProgressPage.js
  base/univention-updater/umc/js/updater/_LogViewer.js
Due: deb-pipeline

Bug #52453: debian changelog
  base/univention-updater/debian/changelog
  management/univention-appcenter/debian/changelog
  management/univention-management-console-module-adtakeover/debian/changelog
  management/univention-web/debian/changelog
  services/univention-ad-connector/debian/changelog
Due: deb-pipeline

Bug #52453: remove debug code
  management/univention-appcenter/umc/js/appcenter/AppDetailsPage.js
Due: deb-pipeline

Bug #52453: debian changelog
  management/univention-appcenter/debian/changelog
Due: deb-pipeline

Bug #52762: cleanup
  test/product-tests/appcenter/ucs-tests.cfg
  test/product-tests/extsec4.3/00026.cfg
  test/product-tests/extsec4.3/00026.sh
  test/product-tests/extsec4.3/00026/binary-packages/domaincontroller_backup/binpkg-domaincontroller_backup.txt
  test/product-tests/extsec4.3/00026/binary-packages/domaincontroller_backup/srcpkg-domaincontroller_backup.txt
  test/product-tests/extsec4.3/00026/binary-packages/domaincontroller_master/binpkg-domaincontroller_master.txt
  test/product-tests/extsec4.3/00026/binary-packages/domaincontroller_master/srcpkg-domaincontroller_master.txt
  test/product-tests/extsec4.3/00026/binary-packages/domaincontroller_slave/binpkg-domaincontroller_slave.txt
  test/product-tests/extsec4.3/00026/binary-packages/domaincontroller_slave/srcpkg-domaincontroller_slave.txt
  test/product-tests/extsec4.3/00026/binary-packages/memberserver/binpkg-memberserver.txt
  test/product-tests/extsec4.3/00026/binary-packages/memberserver/srcpkg-memberserver.txt
  test/product-tests/extsec4.3/00026/source-packages.txt
  test/product-tests/python3/ucs-tests.cfg
  test/product-tests/umc/singlemaster.cfg
  test/scenarios/update-testing/smbtorture.cfg
Due: none

Bug #52762: cleanup
  test/product-tests/samba/s4-connector.cfg
Due: none

Bug #42374: Adjust test case to wording change in tool output
  test/ucs-test/debian/changelog
  test/ucs-test/tests/10_ldap/69resync_object
Due: deb-pipeline

fixup! Bug #52798: Update bootscreen to new design
  base/univention-grub/debian/univention-grub.postinst
Due: deb-pipeline

Bug #32509 base/grub: Remove postinst_hook
  base/univention-base-files/conffiles/etc/kernel-img.conf
  base/univention-base-files/debian/changelog
  base/univention-base-files/debian/univention-base-files.maintscript
  base/univention-base-files/debian/univention-base-files.univention-config-registry
  base/univention-base-files/debian/univention-base-files.univention-config-registry-variables
  base/univention-grub/debian/changelog
  base/univention-grub/debian/univention-grub.postinst
Due: deb-pipeline

Bug #32509 grub: Fix shell issues
  base/univention-grub/debian/univention-grub.postinst
Due: deb-pipeline
